@use "../global"as global;
@use "sass:math";

.l-header {

  // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
  &__wrap {
    // width: var(--commonWidth);
    // margin-left: auto;
    // margin-right: auto;
    padding: var(--gridGap);
  }
  &__inner {
    @include global.flex(space-between, center);
  }
  &__head {}

  &__body {}

  &__logo {
    width: var(--logoWidth);
    &.is-invert{
      filter: invert(100%);
    }
  }

  &__nav {
    @include global.media(sp) {
      display: none;
    }
    &__ul {
      @include global.flex(flex-start, flex-start);
      gap: 1rem;
    }
    &__li {
      position: relative;
    }
    &__link {
      display: block;
      @include global.font(calc(var(--pow0) - 0px), var(--fwn), var(--ls), 1, var(--ff));
    }
    &__wrap {
      display: block;

    }
    &__title {
      display: block;
    }
    &__subtitle {
      display: block;
    }
    &__child {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      white-space: nowrap;
      &__ul {}

      &__li {}

      &__link {}

      &__wrap {}

      &__title {}

      &__subtitle {}
    }
  }

  &__hbg {
    &__button {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99999999;
      // display: none;
    }
    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 99999998;
      background-color: #ccc;
    }
  }
}
body{
  &.is-hbgOpen{
    .l-header {
      &__hbg {
        &__modal{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

// :root {
//   --HbgSize: 4rem;
//   --HbgModalWidth: 25rem;
//   --HeaderBgc: var(--Base1); //フッター背景色
//   --HeaderText: var(--Title); //フッター文字色
//   --HeaderBdc: hsla(0, 0%, 0%, 0.1); //フッター罫線色

//   --HbgBgc: var(--Key1); //フッター背景色
//   --HbgText: var(--White); //フッター文字色
//   --HbgBdc: hsla(0, 0%, 100%, 0.5); //フッター罫線色
// }

// // body {
// //   &.is-guide {
// //     .l-header {
// //       @include global.Guide();
// //       &__logo {
// //         @include global.Guide();
// //       }
// //       &__nav {
// //         &__li {
// //           @include global.Guide();
// //         }

// //         &__child {
// //           @include global.Guide();
// //         }
// //       }
// //     }
// //   }
// // }

// .l-header {
//   position: fixed;
//   z-index: 9990;
//   top: 0;
//   left: 0;
//   width: 100%;
//   white-space: nowrap;

//   * {
//     &:not(.p-cv,.p-cv *){
//       user-select: none;
//       color: var(--HeaderText);
//       fill: var(--HeaderText);
//       border-color: var(--HeaderBdc);

//       &:before,
//       &:after {
//         color: var(--HeaderText);
//         fill: var(--HeaderText);
//         border-color: var(--HeaderBdc);
//       }
//     }
//   }

//   &:before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     background-color: var(--HeaderBgc);
//     box-shadow: 1px 1px 3px 3px rgba(#888888, 0.1);
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 0;
//     opacity: 1;
//     will-change: opacity;
//     transition: background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//   }

//   &__wrap {
//     padding-left: 2rem;
//     position: relative;
//     z-index: 1;

//     @include global.media(tb) {
//       padding-left: 5vw;
//     }
//   }

//   &__inner {
//     @include global.flex(space-between, center);
//   }

//   &__head {}

//   &__body {
//     padding-right: var(--HbgSize);
//     @include global.flex(flex-end, center);
//     width: auto;
//   }

//   &__logo {
//     @include global.flex(center, center);
//     height: var(--HbgSize);
//     width: 12rem;

//     >* {
//       width: 100%;
//     }
//   }

//   &__nav {
//     @include global.media(tb) {
//       display: none;
//     }

//     &__ul {
//       @include global.flex(flex-start, flex-start);
//     }

//     &__li {
//       position: relative;

//       &.has-child {
//         .l-header__nav {
//           &__subtitle {
//             padding-right: 1em;

//             &:after {
//               content: "";
//               width: 0.4em;
//               height: 0.4em;
//               position: absolute;
//               right: 0;
//               top: 50%;
//               transform-origin: center center;
//               transform: translate(0, -50%) rotate(45deg);
//               border-bottom: 1px solid;
//               border-right: 1px solid;
//               // border-color: inherit;
//               transition: border-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//             }
//           }
//         }

//         @include global.media(pc) {
//           &:hover {
//             .l-header__nav__child {
//               visibility: visible;
//               opacity: 1;
//               transform: translate(0, 0);
//             }
//           }
//         }
//       }
//     }

//     &__link {
//       @include global.flex(center, center);
//       height: var(--HbgSize);
//       @include global.font(calc(var(--pow0) - 0px), var(--fwn), var(--ls), 1, var(--ff));
//       padding: 0 1em;

//       @include global.media(pc) {
//         &:hover {
//           .l-header__nav {
//             &__wrap {
//               opacity: 0.5;
//             }
//           }
//         }
//       }
//     }

//     &__wrap {
//       display: block;
//       position: relative;
//       z-index: 1;
//       transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//       will-change: opacity;
//     }

//     &__title {
//       display: block;
//       font-weight: var(--fwb);
//     }

//     &__subtitle {
//       display: inline-block;
//       position: relative;
//       opacity: 0.6;
//       font-size: 0.9em;
//       margin-top: 0.3em;
//       letter-spacing: 0.02em;
//     }

//     &__child {
//       position: absolute;
//       top: 100%;
//       min-width: calc(100% + 2px);
//       left: -1px;
//       padding-top: 0px;
//       will-change: opacity, visibility, transform;
//       visibility: hidden;
//       opacity: 0;
//       z-index: 0;
//       transform: translate(0, 0.5rem);
//       transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//       &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 200%;
//         bottom: 0;
//         left: 0;
//         background-color: transparent;
//       }


//       &__ul {
//         box-shadow: 1px 3px 3px 3px rgba(#888888, 0.1);
//         background-color: var(--HeaderBgc);
//         overflow: hidden;
//         position: relative;
//         z-index: 1;
//       }

//       &__li {
//         width: 100%;
//         border-top: 1px solid;

//         &:first-child {
//           border-top: none;
//         }
//       }

//       &__link {
//         padding: 0.8rem 1.2rem;
//         display: block;

//         transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//         will-change: opacity;

//         @include global.media(pc) {
//           &:hover {
//             opacity: 0.5;
//           }
//         }
//       }

//       &__title {
//         display: none;
//         @include global.font(calc(var(--pow0) - 1px), var(--fwn), var(--ls), 1, var(--ff));
//         display: block;
//         position: relative;
//         padding-top: 1px;
//         transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//       }

//       &__subtitle {
//         display: none;
//       }
//     }
//   }
//   .p-cv{
//     height: var(--HbgSize);
//     &:before,&:after{
//       border: none;
//     }
//     @include global.media(sp) {
//       display: none;
//     }
//   }



//   &__hbg {
//     &__icon {
//       width: var(--HbgSize);
//       height: var(--HbgSize);
//       display: block;
//       z-index: 9999;
//       position: fixed;
//       top: 0;
//       right: 0;

//       a {
//         display: block;
//         width: 100%;
//         height: 100%;
//         position: relative;
//         background-color: var(--HbgBgc);
//         transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0ms;

//         ul {
//           width: 100%;
//           height: 100%;
//           display: block;
//           width: 44%;
//           height: 22%;
//           position: absolute;
//           z-index: 1;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, calc(-50% - 0.4em));
//           @include global.font(10px, var(--fwh), 0.16em, 10px, var(--ff));
//           color: var(--HbgText);

//           @include global.media(sp) {
//             letter-spacing: 0.1em;
//             // transform: translate(-50%, calc(-50% - 0.2em));
//           }

//           &:before,
//           &:after {
//             position: absolute;
//             white-space: nowrap;
//             left: 50%;
//             top: 155%;
//             transform-origin: center center;
//             transform: translate(-50%, 0) scale(0.8);
//             display: block;
//             will-change: opacity, transform;
//             transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, transform 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//             // @include global.media(sp) {
//             //   transform: translate(-50%, 0.7em) scale(0.8);
//             // }
//           }

//           &:before {
//             content: "MENU";
//             opacity: 1;
//             transform: translate(-50%, 0) scale(0.8);
//           }

//           &:after {
//             content: "CLOSE";
//             opacity: 0;
//             transform: translate(-50%, 1em) scale(0.8);
//           }

//           li {
//             position: absolute;
//             width: 100%;
//             height: 1px;
//             display: block;
//             left: 50%;
//             transform-origin: center center;
//             will-change: opacity, transform, top, left, width;
//             background-color: var(--HbgText);
//             transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, width 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, top 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms,
//               opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//             &:nth-child(1) {
//               top: 0;
//               transform: translate(-50%, 0%) rotate(0deg);
//               z-index: 1;
//             }

//             &:nth-child(2) {
//               width: 100%;
//               top: 50%;
//               transform: translate(-50%, -50%) rotate(0deg);
//               z-index: 1;
//             }

//             &:nth-child(3) {
//               width: 100%;
//               top: 100%;
//               z-index: 1;
//               transform: translate(-50%, -50%) rotate(0deg);
//             }
//           }
//         }
//       }
//     }

//     &__modal {
//       opacity: 0;
//       visibility: hidden;
//       z-index: 9998;
//       position: fixed;
//       top: 0;
//       left: 0;
//       height: 100%;
//       width: 100%;
//       will-change: opacity, visibility;
//       transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//       * {
//         &:not(.p-cv,.p-cv *){
//           user-select: none;
//           color: var(--HbgText);
//           fill: var(--HbgText);
//           border-color: var(--HbgBdc);

//           &:before,
//           &:after {
//             color: var(--HbgText);
//             fill: var(--HbgText);
//             border-color: var(--HbgBdc);
//           }
//         }
//       }

//       &:before {
//         content: "";
//         background-color: #000000;
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         top: 0;
//         left: 0;
//         z-index: 0;
//         opacity: 0.6;
//         transition: background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//       }



//       &__wrap {
//         position: absolute;
//         top: 0;
//         right: 0;
//         height: 100%;
//         width: var(--HbgModalWidth);
//         background-color: var(--HbgBgc);
//         will-change: transform;
//         transform: translate(100%, 0);
//         transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms, background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//         filter: drop-shadow(-2px -2px 4px rgba(#333333, 0.2));
//         overflow: scroll;
//         -webkit-overflow-scrolling: touch;

//         // box-shadow: -2px -2px 4px 4px rgba(#333333, 0.1);
//         hr {
//           height: 1px;
//           border: none;
//           border-top: 1px solid var(--HbgBdc);
//           margin-top: 2rem;
//           margin-bottom: 2rem;
//           // opacity: 0.5;
//           transition: border-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//         }
//       }

//       &__inner {
//         padding-top: calc(var(--HbgSize) * 1.5);
//         padding-bottom: calc(var(--HbgSize) * 2);
//         padding-left: calc(var(--HbgSize) * 0.5);
//         padding-right: calc(var(--HbgSize) * 0.5);

//         @include global.media(tb) {
//           padding-top: calc(var(--HbgSize) * 2);
//         }
//       }

//       &__logo {
//         width: 12rem;
//         margin-bottom: 1rem;
//       }

//       .p-info {
//         margin-bottom: 1em;
//       }
//       .p-cv{
//         margin-bottom: 0.5em;
//         // @include global.ButtonColor(var(--White), var(--White), var(--Key1), transparent, var(--White), var(--White));
//         &+.p-cv{

//         }
//       }

//       // &__cv {
//       //   display: block;
//       //   padding: 1rem;
//       //   margin-bottom: 0.5rem;
//       //   border: 1px solid var(--HbgBdc);
//       //   text-align: center;


//       //   // @include global.media(pc) {&:hover{
//       //   //   background-color: var(--HbgText);
//       //   //   fill: var(--HbgBgc);
//       //   //   color: var(--HbgBgc);
//       //   // }}
//       //   // .p-cv{
//       //   //   background-color: inherit;
//       //   //   border-color: inherit;
//       //   //   color: inherit;
//       //   //   fill: inherit;
//       //   //   *{
//       //   //     background-color: inherit;
//       //   //     border-color: inherit;
//       //   //     color: inherit;
//       //   //     fill: inherit;
//       //   //   }
//       //   // }
//       // }

//       &__nav {
//         &__ul {}

//         &__li {
//           position: relative;

//           &.has-child {
//             cursor: pointer;

//             @include global.media(pc) {
//               &:hover {
//                 .l-header__hbg__modal__nav {
//                   &__link {
//                     opacity: 0.5;
//                   }
//                 }
//               }
//             }

//             &:before {
//               content: '';
//               position: absolute;
//               width: 100%;
//               height: 100%;
//               display: block;
//               top: 0;
//               left: 0;
//               z-index: 1;
//             }

//             .l-header__hbg__modal__nav {
//               &__link {
//                 &:after {
//                   transform: translate(0, -50%) rotate(45deg);
//                 }
//               }
//             }

//             &.is-open {
//               .l-header__hbg__modal__nav {
//                 &__link {
//                   &:after {
//                     transform: translate(0, -50%) rotate(-135deg);
//                   }
//                 }
//               }
//             }
//           }
//         }

//         &__link {
//           @include global.font(calc(var(--pow0) - 0px), var(--fwn), var(--ls), 1, var(--ff));
//           padding: 1em 0;
//           display: block;
//           position: relative;
//           z-index: 0;
//           transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           will-change: opacity;

//           @include global.media(pc) {
//             &:hover {
//               opacity: 0.5;
//             }
//           }

//           &:after {
//             content: "";
//             width: 0.4em;
//             height: 0.4em;
//             position: absolute;
//             right: 0;
//             top: 50%;
//             transform-origin: center center;
//             transform: translate(0, -50%) rotate(-45deg);
//             border-bottom: 1px solid;
//             border-right: 1px solid;
//             border-color: inherit;
//             transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           }
//         }

//         &__wrap {
//           display: block;
//         }

//         &__title {
//           display: inline-block;
//           vertical-align: middle;
//         }

//         &__subtitle {
//           display: inline-block;
//           vertical-align: middle;
//           font-size: 0.9em;
//           opacity: 0.6;
//         }

//         &__child {
//           max-height: 0;
//           overflow: hidden;
//           transition: max-height 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           position: relative;
//           z-index: 10;

//           &__ul {
//             // padding-left: 1rem;
//           }

//           &__li {}

//           &__link {
//             @include global.font(calc(var(--pow0) - 1px), var(--fwn), var(--ls), 1, var(--ff));
//             padding: 1em 0 1em 1em;
//             position: relative;
//             display: block;
//             transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//             will-change: opacity;

//             @include global.media(pc) {
//               &:hover {
//                 opacity: 0.5;
//               }
//             }

//             &:before {
//               content: '';
//               width: 0.6em;
//               height: 0;
//               border-top: 1px solid;
//               position: absolute;
//               top: 50%;
//               left: 0;
//             }
//           }

//           &__wrap {}

//           &__title {}

//           &__subtitle {
//             display: none;
//           }
//         }
//       }
//     }
//   }

//   &__pankuzu {
//     position: absolute;
//     top: var(--HbgSize);
//     left: 0;
//     z-index: 10;
//     padding: 1rem 2rem;

//     @include global.media(tb) {
//       padding: 1rem 5vw;
//     }
//   }
// }

// body {

//   .l-main,
//   .l-header,
//   .l-footer {
//     will-change: left;
//     left: 0;
//     transition: left 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
//   }

//   &.is-nav_open {

//     .l-main,
//     .l-footer {
//       left: calc(var(--HbgModalWidth) * -1);
//     }

//     .l-header {
//       left: calc((var(--HbgModalWidth) * -1) + var(--HbgSize));

//       &__hbg {
//         &__icon {
//           &:before {
//             opacity: 0;
//           }

//           a {
//             // background-color: var(--HeaderModalHbg_open);

//             // @include global.media(pc) {
//             //   &:hover {
//             //     background-color: var(--HeaderModalHbg_open_hv);

//             //     ul {
//             //       color: var(--HeaderModalHbgText_open_hv);

//             //       li {
//             //         background-color: var(--HeaderModalHbgLine_open_hv);
//             //       }
//             //     }
//             //   }
//             // }

//             ul {
//               // color: var(--HeaderModalHbgText_open);

//               &:before {
//                 opacity: 0;
//                 transform: translate(-50%, -1em) scale(0.8);
//               }

//               &:after {
//                 opacity: 1;
//                 transform: translate(-50%, 0) scale(0.8);
//               }

//               li {
//                 // background-color: var(--HeaderModalHbgLine_open);
//                 transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms, width 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms, top 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
//                   opacity 0ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms, background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//                 &:nth-child(1) {
//                   top: 50%;
//                   width: 100%;
//                   transform: translate(-50%, 0) rotate(45deg);
//                 }

//                 &:nth-child(2) {
//                   opacity: 0;
//                   top: 50%;
//                   transform: translate(-50%, 0) rotate(0deg);
//                 }

//                 &:nth-child(3) {
//                   top: 50%;
//                   width: 100%;
//                   transform: translate(-50%, 0) rotate(-45deg);
//                 }
//               }
//             }
//           }
//         }

//         &__modal {
//           visibility: visible;
//           opacity: 1;
//           z-index: 9998;
//           transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//           &__wrap {
//             transform: translate(0, 0);
//           }
//         }
//       }
//     }
//   }
// }