@use "../../global" as global;

.page-about {
  &__message {
    .p-title__sec {
      text-align: center;
      margin-bottom: var(--Gap3);
    }
    .p-box__yoko {
      margin-bottom: var(--Gap3);
    }
  }
  &__vision {
    .p-title__sec {
      text-align: center;
      margin-bottom: var(--Gap3);
    }
    .p-video {
      margin-bottom: var(--Gap3);
    }
  }
  &__outline {
    .p-title__sec {
      text-align: center;
      margin-bottom: var(--Gap3);
    }
  }
  &__history {
    .p-title__sec {
      text-align: center;
      margin-bottom: var(--Gap3);
    }
  }
}
