@use "../../global" as global;
$textMaxWidth: 100%;

.p-common {
  &__foot {
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;

    &__wrap {
      @extend .e-common_wrap;
      background-color: rgba(#000000, 0.1);
      border: 1px solid rgba(#888888, 0.3);
      backdrop-filter: blur(6px);
      border-radius: 6px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      padding: 0;
      @include global.media(sp) {
        padding: 5rem 0;
      }
    }

    &__head {
      padding: 4rem 3rem;
      text-align: center;

      @include global.media(sp) {
        padding: 3rem 1rem;
      }
      .p-button {
        margin-top: 2rem;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__title {
      @extend .p-title__sec;
      .title__wrap {
        align-items: center;
      }
    }

    &__text {
      @extend .p-text;
      margin-top: 1em;

      @include global.media(sp) {
        text-align: left;
        text-align: justify;

        br {
          display: none;
        }
      }
    }

    &__list {
      &__ul {
        @include global.flex(flex-start, center);
        border-top: 1px solid rgba(#888888, 0.3);
      }

      &__li {
        flex: 1;
        border-right: 1px solid rgba(#888888, 0.3);

        @include global.media(sp) {
          width: 50%;
          flex: auto;

          &:nth-child(1) {
            border-bottom: 1px solid rgba(#888888, 0.3);
          }

          &:nth-child(2) {
            border-bottom: 1px solid rgba(#888888, 0.3);
          }
        }

        &:last-child {
          border-right: none;
        }
      }

      &__link {
        display: block;
        padding: 2rem 1rem;
        background-color: transparent;
        // background-color: hsla(200, 30%, 40%, 0.3);
        transition: background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

        @include global.media(pc) {
          &:hover {
            background-color: hsla(200, 30%, 40%, 0.3);
            // background-color: transparent;
          }
        }

        &__icon {
          display: block;
          width: var(--pow5);
          margin-left: auto;
          margin-right: auto;
          position: relative;

          &:before {
            content: "";
            padding-top: 100%;
            width: 100%;
            display: block;
            position: relative;
            z-index: 0;
          }

          svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // fill: var(--White);
          }
        }

        &__wrap {
          @include global.flex(flex-start, center);
          flex-direction: column-reverse;
        }

        &__main {
          @include global.font(calc(var(--pow0) - 2px), var(--fwn), 0.16em, 1, var(--ff));
          display: block;
          margin-top: 0.6em;
          opacity: 0.8;
        }

        &__sub {
          @include global.font(var(--pow0), var(--fwn), var(--ls), 1, var(--ff));
          display: block;
          padding-top: 0.5em;
        }
      }
    }
  }

  // 以下parts.scssに移行したい

  &__col {
    position: relative;

    &__nav {
      position: absolute;
      height: 100%;
      top: 0;
      left: var(--ml);
      padding-top: 8%;

      &.is-active {
        @include global.media(tb) {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0px, 0%, 0);
          transition:
            opacity 0ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
            visibility 0ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
            transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
        }
      }

      &.is-hide {
        @include global.media(tb) {
          visibility: hidden;
          opacity: 0;
          transform: translate3d(0px, -100%, 0);
          transition: none !important;
        }
      }

      @include global.media(tb) {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -1px;
        // left: 0;
        width: 100%;
        position: relative;
        height: auto;
        background-color: var(--Base1);
        position: fixed;
        left: 0;
        top: var(--headerHeight);
        z-index: 5000;
        visibility: hidden;
        opacity: 0;
        box-shadow: 1px 1px 2px 2px rgba(#333, 0.1);
        will-change: opacity, visibility, transform;
        transform: translate3d(0px, -100%, 0);
        transition:
          opacity 0ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms,
          visibility 0ms cubic-bezier(0.25, 0.1, 0.25, 1) 200ms,
          transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
      }

      @include global.media(sp) {
      }

      &__wrap {
        position: relative;
        width: 16rem;
        height: 100%;

        @include global.media(tb) {
          width: 100%;
          height: auto;
          // width: 90%;
          // margin-left: auto;
          // margin-right: auto;
        }
      }

      &__inner {
        width: 16rem;
        position: relative;

        @include global.media(tb) {
          width: 100%;
          // overflow: scroll;
          overflow-x: scroll;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;

          -webkit-overflow-scrolling: touch;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

          &::-webkit-scrollbar {
            display: none;
            -webkit-appearance: none;
          }
        }

        // >a{
        //   margin-top: 2rem;
        // }
        // padding-top: var(--headerHeight);
      }

      &__ul {
        // border-left: 2px solid var(--Key1);
        position: relative;

        @include global.media(tb) {
          white-space: nowrap;
          // padding-left: 5vw;
          // padding-right: 10vw;
          // @include global.flex(flex-start, center);
          // flex-wrap: nowrap;
          // width: auto;
        }

        &:before {
          content: "";
          width: 2px;
          height: calc(100% - (var(--pow0) * 1.6));
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          background-color: var(--Key1);

          @include global.media(tb) {
            display: none;
          }
        }

        // padding-top: 1rem;
      }

      &__li {
        display: block;

        // @include global.media(tb) {
        //   display: inline-block;
        //   padding-left: 2.5vw;
        //   &:first-child{padding-left: 5vw;}
        //   &:last-child{
        //     padding-right: 5vw;
        //   }
        // }
        // @include global.media(sp) {
        //   padding-left: 5vw;
        //   &:last-child{
        //     padding-right: 10vw;
        //   }
        // }
        @include global.media(tb) {
          display: inline-block;

          &:first-child {
            .p-common__col__nav {
              &__link {
                padding-left: 5vw;
              }
            }
          }

          &:last-child {
            .p-common__col__nav {
              &__link {
                padding-right: 10vw;
              }
            }
          }
        }
      }

      &__link {
        @include global.font(var(--pow0), var(--fwn), 0.02em, 1.7, var(--ff));
        padding: 0.6em 0em 0.6em 1.5em;
        display: block;

        @include global.media(tb) {
          padding: 0 2.5vw;
        }

        @include global.media(sp) {
          padding: 0 2.5vw;
        }

        &.is-active {
          color: var(--Key1);

          @include global.media(tb) {
            // color: var(--Title);
          }

          > span {
            &:after {
              opacity: 1;

              @include global.media(tb) {
                opacity: 1;
              }
            }
          }
        }

        > span {
          display: inline-block;
          position: relative;
          padding-right: 1em;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

          @include global.media(tb) {
            padding-right: 0;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            position: relative;
          }

          &:after {
            content: "";
            width: 0.3em;
            height: 0.3em;
            background-color: var(--Key1);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            will-change: opacity;
            opacity: 0;

            @include global.media(tb) {
              width: 100%;
              height: 3px;
              right: auto;
              left: 0;
              top: auto;
              bottom: -1px;
              transform: translate(0, 0%);
            }
          }
        }
      }
    }

    &.is-sort {
      .p-common__col {
        &__nav {
          @include global.media(tb) {
            top: 0;
            left: 0;
            position: relative;
            z-index: 0;
            visibility: visible;
            opacity: 1;
            margin-top: 0;
            box-shadow: none;
            padding: 0rem 0;
            transform: none;
            background-color: var(--Base2);
          }

          &__inner {
            @include global.media(tb) {
              width: 100%;
            }
          }

          &__ul {
            @include global.media(tb) {
              @include global.flex(flex-start, stretch);
              white-space: normal;
            }
          }

          &__li {
            @include global.media(tb) {
              display: block;
              border-top: 1px solid var(--Base1);
              width: 50%;

              &:nth-child(odd) {
                border-right: 1px solid var(--Base1);
              }

              &:last-child {
                // border-bottom: none;
              }
            }
          }

          &__link {
            @include global.media(tb) {
              @include global.font(var(--pow0), var(--fwn), 0.02em, 1.5, var(--ff));
              padding: 1em;
            }

            &.is-active {
              > span {
                @include global.media(tb) {
                  &:after {
                    opacity: 0;
                  }
                }
              }
            }

            > span {
              @include global.media(tb) {
                padding: 0;
              }
            }
          }
        }
      }
    }

    .section__wrap {
      padding-left: calc(16rem + 5vw);

      @include global.media(tb) {
        padding-left: 0;
      }
    }
  }

  &__categorylist {
    margin-bottom: 2rem;

    .show_pc {
      @include global.flex(center, center);
      gap: 0.5rem;

      @include global.media(sp) {
        display: none;
      }
    }

    a {
      display: block;
      text-align: left;
      @include global.font(var(--pow0), var(--fwh), var(--ls), 1, var(--ff));
      padding: 0.8rem 1rem;
      border-radius: 6px 0 0 6px;
      white-space: nowrap;
      background-color: var(--White);
      position: relative;
      border-radius: 5rem;
      padding-left: 2.5rem;

      &.is-active {
        &::before {
          background-color: var(--TaxColor);
        }
      }

      @include global.media(pc) {
        &:hover {
          &::before {
            background-color: var(--TaxColor);
          }
        }
      }

      &::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        background-color: #eee;
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100%;
        transition:
          background-color 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
          visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
      }
    }
  }

  &__linklist {
    margin: 8rem 0;
    border-top: 1px solid var(--Border);

    &__title {
      @include global.font(var(--pow3), var(--fwb), var(--ls), 1.6, var(--ff));
      text-align: center;
      margin-bottom: 3rem;
    }

    &__li {
      border-bottom: 1px solid var(--Border);
      padding: 1rem;
    }

    &__link {
      display: block;
    }

    &__imagetext {
      .imageBox {
        display: none;
      }

      .textBox {
        display: grid;
        grid-template-columns: 10rem 1fr;
        gap: 2rem;

        & > * {
          align-self: center;
        }
      }

      .date {
        @include global.font(var(--pow0), var(--fwb), var(--ls), 1, var(--ff));
      }

      .title {
        @include global.font(var(--pow0), var(--fwb), var(--ls), 1.6, var(--ff));
      }

      .category {
        display: none;
      }

      .text {
        display: none;
      }

      .tag {
        display: none;
      }
    }
  }

  &__postList {
    &.case {
      .p-common__postList {
        &__ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          @include global.media(tb) {
            grid-template-columns: repeat(2, 1fr);
          }

          @include global.media(sp) {
            grid-template-columns: repeat(1, 1fr);
          }
        }

        &__li {
        }

        &__imagetext {
          position: relative;
          cursor: pointer;

          @include global.media(pc) {
            &:hover {
              .title {
                &__main {
                  color: var(--Key1);
                }
              }
              .category {
                a {
                  color: var(--Key1);
                }
              }
              .image {
                &::before {
                  opacity: 1;
                  letter-spacing: var(--ls);
                }
                &::after {
                  opacity: 0.8;
                }
              }
            }
          }
          .linkBox {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .imageBox {
            margin-bottom: 0.5rem;
            pointer-events: none;
          }
          .image {
            @extend .p-image__r66;
            position: relative;
            pointer-events: none;
            &::before {
              @include global.font(var(--pow0), var(--fwn), 0.2em, var(--lh), var(--ff));
              content: "VIEW DETAIL";
              position: absolute;
              width: 100%;
              display: block;
              text-align: center;
              top: 50%;
              left: 0;
              transform-origin: center center;
              transform: translate(0%, -50%) rotate(0deg) scale(1, 1);
              opacity: 0;
              z-index: 12;
              color: var(--White);
              transition:
                opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                letter-spacing 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              top: 0%;
              left: 0;
              opacity: 0;
              z-index: 10;
              background-color: var(--Text);
              transition:
                opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
          }

          .textBox {
            @include global.flex(flex-start, flex-start);
            flex-direction: column-reverse;
          }

          .date {
            display: none;
          }

          .title {
            &__main {
              @include global.font(var(--pow1), var(--fwn), 0.1em, 1.9, var(--ff));
              padding: 0.5em 0;
              transition:
                color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
          }

          .category {
            a {
              @include global.font(calc(var(--pow0) - 2px), var(--fwn), 0.1em, 1.5, var(--ff));
              color: var(--SubText);
              transition:
                color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
              @include global.media(pc) {
                &:hover {
                  color: var(--Key1);
                }
              }
            }
          }
        }
      }
    }

    &.topics,
    &.news {
      .p-common__postList {
        &__ul {
          border-top: 1px solid var(--Border);
        }

        &__li {
          border-bottom: 1px solid var(--Border);
          &.icon_r {
            .p-common__postList__imagetext {
              .title {
                &__wrap {
                  @include global.flex(flex-end, center);
                  flex-direction: row-reverse;
                }
                svg {
                  width: 1em;
                  height: 1em;
                  fill: var(--Key1);
                }
              }
            }
          }

          dl {
            @include global.flex(flex-start, center);
            flex-wrap: wrap;
            gap: 0rem;
          }

          .arrow {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform-origin: center center;
            transform: translate(0%, -50%);
            transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            fill: var(--SubText);

            @include global.media(sp) {
              display: none;
            }

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        &__imagetext {
          transition:
            background-color 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
            visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
          padding-right: 3rem;
          position: relative;

          @include global.media(pc) {
            &:hover {
              background-color: var(--Base2);

              .arrow {
                fill: var(--Key1);
                transform: translate(0px, -50%);
              }

              .title {
                color: var(--Key1);
              }
            }
          }

          @include global.media(sp) {
            padding-right: 0;
          }

          .linkBox {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
          }

          .textBox {
            padding: 1rem;
            @include global.flex(flex-start, center);
            flex-wrap: wrap;
            gap: 0rem;

            @include global.media(sp) {
              padding: 1rem 0;
            }
          }

          .date {
            @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
            color: var(--SubText);
          }

          .category {
            padding-left: 1rem;
            margin-left: 1rem;
            position: relative;

            a {
              @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
              color: var(--Key1);
            }

            &::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 40%;
              top: 30%;
              left: 0;
              display: block;
              background-color: var(--SubText);
              opacity: 0.4;
            }
          }

          .title {
            @include global.font(calc(var(--pow0) + 1px), var(--fwn), var(--ls), 1.8, var(--ff));
            width: 100%;
            transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            position: relative;
            &__wrap {
              @include global.flex(flex-start, center);
              gap: 0.5rem;
            }

            svg {
              width: 2em;
              height: 2em;
              transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
              fill: var(--SubText);
              svg {
                width: 100%;
                height: 100%;
              }
            }

            > span {
              > span {
                display: block;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }

  &__articleList {
    &.case {
      .p-common__articleList {
        &__ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;

          @include global.media(tb) {
            grid-template-columns: repeat(2, 1fr);
          }

          @include global.media(sp) {
            grid-template-columns: repeat(1, 1fr);
          }
        }

        &__li {
        }

        &__imagetext {
          position: relative;
          cursor: pointer;

          @include global.media(pc) {
            &:hover {
              .title {
                &__main {
                  color: var(--Key1);
                }
              }
              .category {
                a {
                  color: var(--Key1);
                }
              }
              .image {
                &::before {
                  opacity: 1;
                  letter-spacing: var(--ls);
                }
                &::after {
                  opacity: 0.8;
                }
              }
            }
          }
          .linkBox {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .imageBox {
            margin-bottom: 0.5rem;
          }
          .image {
            @extend .p-image__r66;
            position: relative;
            pointer-events: none;
            &::before {
              @include global.font(var(--pow0), var(--fwn), 0.2em, var(--lh), var(--ff));
              content: "VIEW DETAIL";
              position: absolute;
              width: 100%;
              display: block;
              text-align: center;
              top: 50%;
              left: 0;
              transform-origin: center center;
              transform: translate(0%, -50%) rotate(0deg) scale(1, 1);
              opacity: 0;
              z-index: 12;
              color: var(--White);
              transition:
                opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                letter-spacing 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              top: 0%;
              left: 0;
              opacity: 0;
              z-index: 10;
              background-color: var(--Text);
              transition:
                opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
          }

          .textBox {
            @include global.flex(flex-start, flex-start);
            flex-direction: column-reverse;
          }

          .date {
            display: none;
          }

          .title {
            &__main {
              @include global.font(var(--pow1), var(--fwn), 0.1em, 1.9, var(--ff));
              padding: 0.5em 0;
              transition:
                color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            }
          }

          .category {
            a {
              @include global.font(calc(var(--pow0) - 2px), var(--fwn), 0.1em, 1.5, var(--ff));
              color: var(--SubText);
              transition:
                color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
                visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
              @include global.media(pc) {
                &:hover {
                  color: var(--Key1);
                }
              }
            }
          }
        }
      }
    }

    &.topics {
      .p-common__articleList {
        &__ul {
          border-top: 1px solid var(--Border);
        }

        &__li {
          border-bottom: 1px solid var(--Border);
          &.icon_r {
            .p-common__postList__imagetext {
              .title {
                &__wrap {
                  @include global.flex(flex-end, center);
                  flex-direction: row-reverse;
                }
                svg {
                  width: 1em;
                  height: 1em;
                  fill: var(--Key1);
                }
              }
            }
          }

          dl {
            @include global.flex(flex-start, center);
            flex-wrap: wrap;
            gap: 0rem;
          }

          .arrow {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform-origin: center center;
            transform: translate(0%, -50%);
            transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            fill: var(--SubText);

            @include global.media(sp) {
              display: none;
            }

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        &__imagetext {
          transition:
            background-color 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms,
            visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
          padding-right: 3rem;
          position: relative;

          @include global.media(pc) {
            &:hover {
              background-color: var(--Base2);

              .arrow {
                fill: var(--Key1);
                transform: translate(0px, -50%);
              }

              .title {
                color: var(--Key1);
              }
            }
          }

          @include global.media(sp) {
            padding-right: 0;
          }

          .linkBox {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
          }

          .textBox {
            padding: 1rem;
            @include global.flex(flex-start, center);
            flex-wrap: wrap;
            gap: 0rem;

            @include global.media(sp) {
              padding: 1rem 0;
            }
          }

          .date {
            @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
            color: var(--SubText);
          }

          .category {
            padding-left: 1rem;
            margin-left: 1rem;
            position: relative;

            a {
              @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
              color: var(--Key1);
            }

            &::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 40%;
              top: 30%;
              left: 0;
              display: block;
              background-color: var(--SubText);
              opacity: 0.4;
            }
          }

          .title {
            @include global.font(calc(var(--pow0) + 1px), var(--fwn), var(--ls), 1.8, var(--ff));
            width: 100%;
            transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
            position: relative;
            &__wrap {
              @include global.flex(flex-start, center);
              gap: 0.5rem;
            }

            svg {
              width: 2em;
              height: 2em;
              transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
              fill: var(--SubText);
              svg {
                width: 100%;
                height: 100%;
              }
            }

            > span {
              > span {
                display: block;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
}
