@use "../../global" as global;
.page-privacy {
  counter-reset: term;
  .p-ol {
    li {
      background-color: transparent;
      padding: 0rem;
    }
  }
  .p-ul {
    li {
      background-color: transparent;
      padding: 0rem;
    }
    span {
      &::before {
        width: 0.5em;
        height: 0.5em;
        top: 0.7em;
      }
    }
  }
}
