@use "../../global" as global;

.page-recruit {
  &__index {
    &__ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
    &__list {
      @extend .p-recruit;
    }
  }
  &__form {
    &__input {
      margin-top: 4rem;
      &__title {
        margin-bottom: 3rem;
        @extend .p-title__sub;
      }
      &__lead {
        @extend .p-text;
      }
      &__thanksbutton {
        margin-top: 4rem;
      }

      &__dlwrap {
        dl {
          @include global.flex(flex-start, flex-start);
          flex-wrap: nowrap;
          margin-bottom: 1.5rem;
          gap: 1rem;
          @include global.media(sp) {
            display: block;
          }
        }

        dt {
          @extend .p-text;
          line-height: 2.8;
          width: 15rem;

          @include global.media(tb) {
            width: 12rem;
          }

          @include global.media(sp) {
            width: 100%;
          }
          &.req {
            position: relative;
            &::after {
              content: "*";
              color: var(--Key1);
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
        dd {
          flex: 1;
          p {
            @extend .p-text;
            padding: 0.4rem 0;
          }
        }

        .p-cap {
          margin-top: 0.5rem;
          li {
            color: var(--SubText);
          }
        }

        .error {
          color: var(--Attention);
        }

        .p-add {
          input + input {
            margin-top: 0.5rem;
          }
        }
        .p-zip {
          @include global.flex(flex-start, center);
          gap: 1rem;
        }
        .postal-search {
          @extend .p-button;
          @extend .is-size__small;
        }
      }

      &__check {
        @extend .p-text;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
      &__buttonwrap {
        @include global.flex(center, center);
        gap: 1rem;
        @include global.media(sp) {
          flex-direction: column-reverse;
        }
        & > * {
          flex: 1;
          max-width: 60%;
          @include global.media(sp) {
            width: 100%;
            max-width: 100%;
          }
        }
        & > div:empty {
          display: none;
        }
      }
      &__button {
        @extend .p-button;
      }
      &__back {
        @extend .p-button;
        @extend .is-color__sub;
      }
    }

    &__textBox {
      &__title {
        text-align: center;
        @extend .p-title__sub;
        margin-bottom: 2rem;
      }

      &__text {
        @extend .p-text;
        text-align: center;
        margin-bottom: 2rem;
        @include global.media(sp) {
          br {
            display: none;
          }
        }
      }
      &__button {
        &__wrap {
          @include global.flex(center, flex-start);
          gap: 2rem;
          & > * {
            flex: 1;
            max-width: 60%;
          }
        }
      }
    }
  }
}
