@use "../../global"as global;
@use "sass:math";

.page-styleguide {
  .l-header {
    display: none;
  }

  &__styleguide {
    .section {
      &__wrap {
        padding-top: global.gridSize(1);
        padding-bottom: global.gridSize(1);
      }

      &__inner {
        @include global.flex(flex-start, flex-start);
        width: calc(100% + (var(--gridGap) * 1));
        margin-left: calc(var(--gridGap) * -0.5);

        @include global.media(sp) {}

        // gap: var(--gridGap);
        // display: grid;
        // grid-template-columns: repeat(var(--gridNum), 1fr);
        // gap: 0 var(--gridGap);

        // @include global.media(sp) {
        //   display: block;
        // }
      }
    }

    .box {
      position: relative;

      width: 50%;
      padding: calc(var(--gridGap) * 0.5);

      @include global.media(sp) {
        width: 100%;
      }

      &__wrap {
        border-top: 1px solid var(--Border);
        padding: var(--gridGap) 0;
        position: relative;

        @include global.media(sp) {
          padding: global.gridSize(2) 0;
        }
      }

      &__inner {}

      &__head {
        position: absolute;
        top: -1px;
        left: 0;
      }

      &__body {

        .data {
          @include global.font(10px, 400, var(--ls), 1.7, var(--ff));
          margin-top: 0.5em;
          display: block;
          opacity: 0.5;

          &+.data {
            margin-top: 0em;
          }
        }
      }

      &__title {
        @include global.font(var(--fzs), 400, var(--ls), 1, var(--ff));
        text-transform: uppercase;
        transform: translate(0, -50%);

        .title {
          &__wrap {}

          &__main {
            display: none;
          }

          &__sub {
            text-transform: capitalize;

            color: var(--Title);
            background-color: var(--Base1);
            white-space: nowrap;
            padding-right: 0.5em;
            text-transform: uppercase;
          }
        }
      }

      &__subtitle {
        @include global.font(var(--fzs), 400, var(--ls), 1, var(--ff));
        display: block;
        margin-bottom: 1em;

        .title {
          &__wrap {
            display: block;
          }

          &__main {
            display: none;
          }

          &__sub {
            white-space: nowrap;
            color: var(--SubText);
            text-transform: uppercase;

            &:before {
              content: '[';
              padding-right: 0.25em;
            }

            &:after {
              content: ']';
              padding-left: 0.25em;
            }
          }
        }
      }


      &.is-logo {

        .box {
          &__wrap {
            height: 100%;
            width: 100%;

            @include global.media(sp) {
              height: auto;
            }

            // background-color: red;
          }

          &__inner {
            height: 100%;
            width: 100%;

            @include global.media(sp) {
              height: auto;
            }
          }

          &__body {
            height: 100%;

            @include global.media(sp) {
              height: auto;
            }
          }
        }

        .list {
          height: 100%;

          @include global.media(sp) {
            height: auto;
          }

          ul {
            @include global.flex(flex-start, flex-start);
            gap: 1px;
            flex-direction: column;
            height: 100%;


            li {
              flex: 1;

              // @include global.ratio(math.div(3, 2), math.div(3, 2), math.div(2, 1));
              @include global.flex(center, center);
              height: 50%;
              background-color: var(--Base1);
              border: 1px solid var(--Border);
              aspect-ratio: math.div(2, 1);

              @include global.media(sp) {
                flex: initial;
                width: 100%;

              }

              // padding: 0 global.gridSize(1);
              >* {
                width: var(--logoWidth);
              }

              &:nth-child(1) {
                background-color: var(--BasicBase1);

                .p-logo {
                  fill: var(--BasicTitle);
                }
              }

              &:nth-child(2) {
                background-color: var(--InvertBase1);

                .p-logo {
                  fill: var(--InvertTitle);
                }
              }
            }
          }
        }
      }



      &.is-color {

        .list {
          ul {
            &+.box__subtitle {
              margin-top: 2rem;
            }

            &.is-pallet {
              @include global.flex(flex-start, flex-start);
              gap: 1px;

              @include global.media(tb) {
                gap: 1px;
              }


              li {
                flex: 1;

                dl {
                  dt {

                    width: 100%;

                    background: var(--c);
                  }
                }
              }
            }

            &.is-key {
              @include global.flex(flex-start, flex-start);
              gap: 1px;

              @include global.media(tb) {
                gap: 1px;
              }


              li {
                flex: 1;

                dl {
                  dt {

                    width: 100%;
                    height: 6px;

                    background: var(--c);
                  }
                }
              }
            }

            &.is-border {
              @include global.flex(flex-start, flex-start);
              gap: calc(var(--gridGap) * 0.5);
              flex-direction: column;

              li {
                width: 100%;

                dl {
                  position: relative;

                  dt {
                    width: 100%;
                    position: relative;

                    &:before {
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 33.33%;
                      top: 0;
                      left: 0;
                      border-color: var(--c);
                      border-top-width: 1px;
                      border-top-style: solid;
                      border-bottom-width: 1px;
                      border-bottom-style: dotted;
                    }

                    &:after {
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 33.33%;
                      bottom: 0;
                      left: 0;
                      border-color: var(--c);
                      border-top-width: 1px;
                      border-top-style: dashed;
                      border-bottom-width: 2px;
                      border-bottom-style: solid;
                    }
                  }
                }
              }
            }

            &.is-background {
              @include global.flex(flex-start, flex-start);
              gap: 1px;
              flex-direction: column;

              li {
                width: 100%;

                dl {
                  position: relative;

                  dt {
                    width: 100%;
                    background: var(--c);

                    @include global.media(sp) {
                      height: global.gridSize(3);
                    }
                  }

                  dd {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    padding: 0 1em;

                    .data {
                      margin-top: 0;

                      &+.data {
                        margin-top: 0.3em;
                      }
                    }
                  }
                }
              }
            }

            li {
              dl {
                dt {
                  // height: global.gridSize(1, true);
                  height: 60px;
                }
              }
            }
          }
        }
      }

      &.is-font {
        width: 100%;

        .list {
          ul {
            @include global.flex(flex-start, flex-start);

            gap: var(--gridGap);

            @include global.media(sp) {
              @include global.flex(flex-start, flex-start);
              gap: global.gridSize(1);
              flex-direction: column;
            }

            li {
              flex: 1;

              @include global.media(sp) {
                width: 100%;
              }

              .data {}

              dl {
                font-size: 1rem;
                font-weight: var(--fwn);
                letter-spacing: var(--ls);
                line-height: var(--lh);

                dt,
                dd {
                  font-family: inherit;
                }

                dt {
                  font-size: 3em;
                  line-height: 1;
                  white-space: nowrap;
                }

                dd {
                  margin-top: 0.5em;
                }
              }
            }
          }
        }
      }


      &.is-title {


        .list {
          ul {
            @include global.flex(flex-start, flex-start);
            // gap: global.gridSize(1);
            gap: 2rem;

            flex-direction: column;

            @include global.media(sp) {
              gap: global.gridSize(1);
            }

            li {
              width: 100%;
            }
          }
        }
      }

      &.is-text {
        // display: none;

        .list {
          ul {
            @include global.flex(flex-start, flex-start);
            // gap: global.gridSize(1);
            gap: 2rem;

            flex-direction: column;

            @include global.media(sp) {
              gap: global.gridSize(1);
            }

            li {
              width: 100%;
            }
          }
        }
      }

      &.is-button {
        width: 100%;

        .list {
          ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gridGap);

            @include global.media(sp) {
              @include global.flex(flex-start, flex-start);
              gap: global.gridSize(1);
              flex-direction: column;
            }

            li {
              width: 100%;

            }
          }
        }
      }

      &.is-image {}

      &.is-icon {

        .list {
          ul {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 1.8rem;
            fill: var(--Title);

            li {
              svg {
                aspect-ratio: 1;
                width: 100%;
                display: block;
                max-width: 1.8rem;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }

      &.is-grid {
        width: 100%;

        .grid {
          height: 400px;
          display: block;
          position: relative;
          border-left: 1px dotted rgba(#888888, 0.5);
          border-right: 1px dotted rgba(#888888, 0.5);
          width: var(--commonWidth);
          margin-left: auto;
          margin-right: auto;
          display: grid;
          grid-template-columns: repeat(var(--gridNum), 1fr);
          gap: var(--gridGap);
          background: repeating-linear-gradient(to right,
            rgba(#008040, 0.5),
            rgba(#008040, 0.5) var(--gridWidth),
            rgba(#008040, 0.1) var(--gridWidth),
            rgba(#008040, 0.1) calc(var(--gridWidth) + var(--gridGap)));



        }
      }

      &.is-xxxxxx {
        .box {
          &__wrap {}

          &__inner {}

          &__head {}

          &__body {}
        }
      }
    }
  }
}