@use "../../global"as global;
@use "sass:math";
.page-xxxxx{
  &__test1{
    // height: 100vh;
    // height: var(--svh);
  }
  &__test3{
    .box{
      width: 100px;
      height: 100px;
      background-color: blue;
      @include global.lerp(opacity, $sp: 0, $gp: 1, $sn: 0, $gn: 1);
      opacity: var(--opacity);
    }
    .js-slide{
    .p-image{
      aspect-ratio: initial;
      width: 100%;
      height: 100%;
    }
  }
  }

}
// body{
//   &.is-load {
//     .js-youtube {
//       // opacity: 1;
//       // transition: opacity var(--durationSlow) var(--easing) 4000ms;
//     }
//   }
// }
// .js-noize{
//   width: 100%;
//   height: 100%;

//   // mix-blend-mode: overlay;
//   mix-blend-mode: multiply;
//   opacity: 0.5;

//   canvas{
//     width: 100%;
//     height: 100%;
//   }
// }
// .page-xxxxx {
//   &__test {
//     height: 100vh;
//     position: relative;
//     background-color: #495a5e;
//     // position: sticky;
//     // top: 0;
//     // left: 0;

//     &:nth-child(even) {
//       background-color: #e5e5e5;
//     }

//     .js-youtube {
//       background-color: red;
//       width: 100vw;
//       height: 100vh;
//       overflow: hidden;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       opacity: 1;
//       iframe {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         // width: calc(160px * 3);
//         // height: calc(160px * 3);
//         // aspect-ratio: math.div(16, 9);
//         width: max(177.78vh, 100vw);
//         height: max(177.78vw, 100vh);
//         // width: max(calc(177.78vh * 0.8), 80vw);
//         // height: max(calc(177.78vw * 0.8), 80vh);
//         // width: 100%;
//         // height: 100%;
//         // position:absolute; top:50%; left:50%; width:177.78vh; height:100vh; transform:translate(-50%,-50%); pointer-events:none;
//         // width:100%; height:100%; pointer-events:none; object-fit:cover;
//       }
//     }

//     .data {
//       position: sticky;
//       top: 0;
//       left: 10vw;
//       width: fit-content;

//       dl {
//         @include global.flex(flex-start, center);
//         width: fit-content;

//         dt,
//         dd {
//           @include global.font(var(--pow0), var(--fwn), var(--ls), var(--lh), var(--ff));
//           color: #ffffff;
//         }
//       }
//     }
//   }
// }

// .p-xxxxxxx {
//   @include global.font(var(--pow0), var(--fwn), 0.12em, 1, var(--ff));
//   color: var(--Key1);
//   display: block;

//   > span {
//     position: relative;
//     // padding-left: 2.5em;
//     padding-left: 1em;

//     // &:before {
//     //   content: '';
//     //   position: absolute;
//     //   width: 1.5em;
//     //   height: 1px;
//     //   top: calc(50% - 5%);
//     //   left: 0;
//     //   transform: translate(0%, -50%);
//     //   background-color: var(--Key1);
//     // }
//     &:before {
//       content: "";
//       width: 0.3em;
//       height: 90%;
//       position: absolute;
//       top: 50%;
//       left: 0;
//       -webkit-transform: translate(0, -50%);
//       transform: translate(0, -50%);
//       background: var(--Key1);
//     }
//   }
// }

// .p-top {
//   &__mv {
//     height: 100vh;
//     position: relative;
//     z-index: 0;

//     &__wrap {
//       height: 100%;
//       @extend .e-common_width;
//     }

//     &__inner {
//       width: 100%;
//       height: 100%;

//       @include global.media(sp) {
//       }
//     }

//     &__content {
//       width: 100%;
//       height: 100%;
//       // @include global.flex(flex-start, flex-end);
//       @include global.flex(flex-start, center);

//       @include global.media(sp) {
//         // @include global.flex(flex-start, flex-end);
//         // padding-bottom: 6rem;
//       }

//       &__wrap {
//         @include global.flex(flex-start, flex-start);
//         flex-direction: column-reverse;
//       }
//     }

//     &__lead {
//       display: block;

//       &__en {
//         @include global.font(min(5vw, 60px), var(--fwb), 0.02em, 1.4, var(--ff));
//         display: block;
//         color: var(--White);
//         white-space: nowrap;

//         @include global.media(tb) {
//           font-size: 7vw;
//         }

//         @include global.media(sp) {
//           font-size: 8.5vw;
//           letter-spacing: 0;
//           font-weight: 700;
//           // text-align: justify;
//         }

//         > span {
//           > span {
//             display: block;
//           }
//         }
//       }

//       &__jp {
//         @include global.font(var(--pow2), var(--fwn), 0.16em, 1, var(--ff));
//         display: block;
//         color: var(--White);
//         margin-top: 2rem;

//         @include global.media(sp) {
//           letter-spacing: 0.1em;
//         }
//       }
//     }

//     &__title {
//       display: block;
//       @include global.font(var(--pow0), var(--fwn), 0.16em, 1, var(--ff));
//       margin-top: 4rem;

//       @include global.media(sp) {
//         font-size: 11px;
//         letter-spacing: 0.06em;
//         margin-top: 3rem;
//       }

//       &__wrap {
//         @include global.flex(flex-start, center);
//       }

//       &__en {
//         width: 14em;

//         svg {
//           fill: var(--White);
//           display: block;
//         }
//       }

//       &__jp {
//         color: var(--White);
//         padding-left: 1.2em;
//         margin-left: 1.2em;
//         position: relative;

//         @include global.media(sp) {
//           padding-left: 0.8em;
//           margin-left: 0.8em;
//         }

//         &:before {
//           content: "";
//           display: block;
//           position: absolute;
//           width: 1px;
//           height: 90%;
//           top: 50%;
//           left: 0;
//           transform: translate(0, -50%);
//           background-color: var(--White);
//           opacity: 0.6;
//         }
//       }
//     }
//   }

//   &__company {
//     position: relative;

//     @include global.media(sp) {
//       padding-top: 4rem;
//     }

//     &__wrap {
//       @extend .e-common_wrap;
//       position: relative;
//       z-index: 1;
//     }

//     &__inner {
//     }

//     &__content {
//       &__wrap {
//         display: table;
//         width: 100%;

//         @include global.media(tb) {
//           display: block;
//         }
//       }

//       &__head {
//         display: table-cell;
//         vertical-align: top;
//         width: 10px;
//         white-space: nowrap;

//         @include global.media(tb) {
//           white-space: normal;
//           display: block;
//           width: 100%;
//         }

//         &__wrap {
//         }

//         .p-top__company__button {
//           @include global.media(tb) {
//             display: none;
//           }
//         }
//       }

//       &__body {
//         display: table-cell;
//         vertical-align: top;
//         padding-left: 5vw;

//         @include global.media(tb) {
//           display: block;
//           width: 100%;
//           padding-left: 0;
//           padding-top: 3rem;
//         }

//         &__wrap {
//         }
//       }

//       &__foot {
//         display: none;

//         @include global.media(tb) {
//           display: block;
//         }

//         &__wrap {
//         }
//       }
//     }

//     .p-title__sec {
//       &__wrap {
//       }

//       &__sub {
//       }

//       &__main {
//         // @include global.font(var(--pow3), var(--fwn), 0.16em, 2.3, var(--ff));
//         color: var(--White);

//         @include global.media(sp) {
//           // letter-spacing: 0.01em;
//           // line-height: 2.1;

//           br {
//             display: none;
//           }
//         }
//       }
//     }

//     &__button {
//       @extend .p-button__transparent;
//       margin-top: 3rem;
//       width: 20rem;

//       @include global.media(tb) {
//         margin-left: auto;
//         margin-right: auto;
//       }
//     }

//     &__list {
//       padding-top: rem;
//       counter-reset: num;

//       &__ul {
//         border-top: 1px solid rgba(#888888, 0.3);
//       }

//       &__li {
//         border-bottom: 1px solid rgba(#888888, 0.3);
//       }

//       &__link {
//         display: block;
//         padding: 2rem 0;

//         &__wrap {
//           @include global.flex(flex-start, center);
//           position: relative;
//           padding-left: 1.5rem;

//           // flex-direction: row-reverse;
//           &:before {
//             counter-increment: num;
//             content: "0" counter(num);
//             position: absolute;
//             top: 0;
//             left: 0;
//             display: inline-block;
//             font-size: 0.5rem;
//             vertical-align: top;
//             font-weight: 300;
//             color: var(--White);
//           }
//         }

//         &__main {
//           @include global.font(calc(var(--pow0) - 1px), var(--fwn), 0.16em, 1, var(--ff));
//           display: block;
//           margin-left: 1em;
//           color: var(--White);
//         }

//         &__sub {
//           @include global.font(var(--pow5), var(--fwn), 0.02em, 1, var(--ff));
//           display: block;
//           color: var(--White);
//         }
//       }
//     }

//     &__stream {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       top: 10%;
//       left: 0;
//       z-index: 0;
//       @include global.media(sp) {
//         top: 5%;
//       }
//     }
//   }

//   &__service {
//     &__section {
//       &:first-child {
//         padding-top: 6%;
//       }

//       &:last-child {
//         padding-bottom: 6%;
//       }

//       &:nth-child(odd) {
//         .p-top__service__content {
//           margin-left: auto;
//         }
//       }
//     }

//     &__wrap {
//       @extend .e-common_wrap;
//       // padding: 6% 0;
//     }

//     &__inner {
//     }

//     &__content {
//       width: 50%;

//       @include global.media(tb) {
//         width: 100%;
//       }

//       &__wrap {
//       }

//       &__head {
//         &__wrap {
//         }
//       }

//       &__body {
//         padding: 3rem 0;

//         @include global.media(sp) {
//           padding-bottom: 2rem;
//         }

//         &__wrap {
//           @include global.media(tb) {
//             background-color: rgba(#000000, 0.2);
//             border: 1px solid rgba(#888888, 0.1);
//             backdrop-filter: blur(6px);
//             border-radius: 6px;
//             padding: 1rem 2rem;
//           }
//         }
//       }

//       &__foot {
//         &__wrap {
//         }
//       }
//     }

//     .p-title__sec {
//       // margin-bottom: 2rem;
//       &__wrap {
//       }

//       &__sub {
//       }

//       &__main {
//         color: var(--White);

//         @include global.media(sp) {
//           br {
//             display: none;
//           }
//         }
//       }
//     }

//     &__text {
//       @extend .p-text;
//       color: var(--White);
//       // margin-top: 1em;
//       width: calc(100% - 2rem);

//       @include global.media(sp) {
//         width: 100%;
//       }
//     }

//     &__button {
//       @extend .p-button__transparent;
//       margin-top: 3rem;
//       width: 20rem;

//       @include global.media(tb) {
//         margin-left: auto;
//         margin-right: auto;
//       }
//     }

//     &__list {
//       &__ul {
//         @include global.flex(flex-start, flex-start);
//       }

//       &__li {
//         // min-width: 50%;
//         width: 50%;
//         padding: 1rem 2em 1rem 0;

//         @include global.media(tb) {
//         }

//         @include global.media(sp) {
//           width: 100%;
//         }
//       }

//       &__dl {
//         display: table;
//       }

//       &__dt {
//         display: table-cell;
//         vertical-align: middle;
//         width: 10px;

//         > span {
//           display: block;
//           position: relative;
//           width: 4rem;

//           &:before {
//             content: "";
//             padding-top: 100%;
//             width: 100%;
//             display: block;
//             position: relative;
//           }

//           svg {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//             z-index: 1;
//             fill: var(--White);
//           }
//         }
//       }

//       &__dd {
//         display: table-cell;
//         vertical-align: middle;
//         @include global.font(var(--pow1), var(--fwn), 0.1em, 1.5, var(--ff));
//         color: var(--White);
//         // white-space: nowrap;
//         padding-left: 1em;
//       }

//       &__child {
//         &__ul {
//           // @include global.flex(flex-start, flex-start);
//           padding: 1.5rem 0;
//         }

//         &__li {
//           @include global.font(calc(var(--pow0) - 1px), var(--fwn), 0.1em, 1.7, var(--ff));
//           color: var(--White);
//           position: relative;
//           // padding-left: 1em;

//           &:before {
//             content: "● ";
//             font-size: 0.9em;
//           }

//           & + li {
//             margin-top: 0.5em;
//           }

//           // min-width: 50%;
//           // padding: 1rem 2em 1rem 0;
//         }
//       }
//     }
//   }

//   &__case {
//     position: relative;
//     z-index: 0;

//     &__wrap {
//       @extend .e-common_wrap;
//     }

//     &__content {
//       &__head {
//         margin-bottom: 3rem;
//       }
//     }

//     .p-title__sec {
//       &__main {
//         display: none;
//       }
//     }

//     // &__thum {
//     //   cursor: pointer;

//     //   @include global.media(pc) {
//     //     &:hover {
//     //       .p-top__case__thum {
//     //         &__title {
//     //           &__main {
//     //           }
//     //           color: var(--Key1);
//     //         }
//     //         &__category {
//     //           a {
//     //             color: var(--Key1);
//     //           }
//     //         }
//     //         &__image {
//     //           &::before {
//     //             opacity: 1;
//     //             letter-spacing: var(--ls);
//     //           }
//     //           &::after {
//     //             opacity: 0.8;
//     //           }
//     //         }
//     //       }
//     //     }
//     //   }
//     //   &__image {
//     //     @extend .p-image__r66;
//     //     position: relative;
//     //     &::before {
//     //       @include global.font(var(--pow0), var(--fwn), 0.2em, var(--lh), var(--ff));
//     //       content: "VIEW DETAIL";
//     //       position: absolute;
//     //       width: 100%;
//     //       display: block;
//     //       text-align: center;
//     //       top: 50%;
//     //       left: 0;
//     //       transform-origin: center center;
//     //       transform: translate(0%, -50%) rotate(0deg) scale(1, 1);
//     //       opacity: 0;
//     //       z-index: 12;
//     //       color: var(--White);
//     //       transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, letter-spacing 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//     //     }
//     //     &::after {
//     //       content: "";
//     //       position: absolute;
//     //       display: block;
//     //       width: 100%;
//     //       height: 100%;
//     //       top: 0%;
//     //       left: 0;
//     //       opacity: 0;
//     //       z-index: 10;
//     //       background-color: var(--Text);
//     //       transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//     //     }
//     //   }

//     //   &__title {
//     //     @include global.font(var(--pow1), var(--fwn), 0.1em, 1.9, var(--ff));
//     //     padding: 0.5em 0;
//     //     transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//     //   }

//     //   &__cate {
//     //     a {
//     //       @include global.font(calc(var(--pow0) - 2px), var(--fwn), 0.1em, 1.5, var(--ff));
//     //       color: var(--SubText);
//     //       transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//     //       @include global.media(pc) {
//     //         &:hover {
//     //           color: var(--Key1);
//     //         }
//     //       }
//     //     }
//     //   }
//     // }
//     &__list {
//       &__imagetext {
//         position: relative;
//         cursor: pointer;

//         @include global.media(pc) {
//           &:hover {
//             .title {
//               &__main {
//                 color: var(--Key1);
//               }
//             }
//             .category {
//               a {
//                 color: var(--Key1);
//               }
//             }
//             .image {
//               &::before {
//                 opacity: 1;
//                 letter-spacing: var(--ls);
//               }
//               &::after {
//                 opacity: 0.8;
//               }
//             }
//           }
//         }
//         .linkBox {
//           display: block;
//           position: absolute;
//           width: 100%;
//           height: 100%;
//           top: 0;
//           left: 0;
//           z-index: 1;
//         }
//         .imageBox {
//           margin-bottom: 0.5rem;
//         }
//         .image {
//           @extend .p-image__r66;
//           position: relative;
//           pointer-events: none;
//           &::before {
//             @include global.font(var(--pow0), var(--fwn), 0.2em, var(--lh), var(--ff));
//             content: "VIEW DETAIL";
//             position: absolute;
//             width: 100%;
//             display: block;
//             text-align: center;
//             top: 50%;
//             left: 0;
//             transform-origin: center center;
//             transform: translate(0%, -50%) rotate(0deg) scale(1, 1);
//             opacity: 0;
//             z-index: 12;
//             color: var(--White);
//             transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, letter-spacing 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           }
//           &::after {
//             content: "";
//             position: absolute;
//             display: block;
//             width: 100%;
//             height: 100%;
//             top: 0%;
//             left: 0;
//             opacity: 0;
//             z-index: 10;
//             background-color: var(--Text);
//             transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           }
//         }

//         .textBox {
//           @include global.flex(flex-start, flex-start);
//           flex-direction: column-reverse;
//         }

//         .date {
//           display: none;
//         }

//         .title {
//           &__main {
//             @include global.font(var(--pow1), var(--fwn), 0.1em, 1.9, var(--ff));
//             padding: 0.5em 0;
//             transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           }
//         }

//         .category {
//           a {
//             @include global.font(calc(var(--pow0) - 2px), var(--fwn), 0.1em, 1.5, var(--ff));
//             color: var(--SubText);
//             transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//             @include global.media(pc) {
//               &:hover {
//                 color: var(--Key1);
//               }
//             }
//           }
//         }
//       }
//     }
//     &__link {
//       @extend .p-link;

//       @include global.media(sp) {
//         display: none;
//       }
//     }
//   }

//   &__client {
//     &__wrap {
//       @extend .e-common_wrap;
//     }

//     &__inner {
//     }

//     &__content {
//       &__wrap {
//       }

//       &__head {
//         margin-bottom: 3rem;

//         &__wrap {
//           @include global.flex(space-between, center);
//         }
//       }

//       &__body {
//       }

//       &__foot {
//         display: none;

//         @include global.media(sp) {
//           display: block;
//         }
//       }
//     }

//     &__link {
//       @extend .p-link;

//       @include global.media(sp) {
//         display: none;
//       }
//     }

//     &__button {
//       @extend .p-button;
//       margin-top: 3rem;
//       width: 20rem;

//       @include global.media(tb) {
//         margin-left: auto;
//         margin-right: auto;
//       }
//     }

//     &__list {
//       &__ul {
//         @include global.flex(flex-start, flex-start);
//         @include global.list(6, 1rem);

//         @include global.media(tb) {
//           @include global.list(4, 1rem);
//         }

//         @include global.media(sp) {
//           @include global.list(3, 6px);
//         }
//       }

//       &__li {
//         margin-bottom: 1rem;

//         @include global.media(sp) {
//           margin-bottom: 6px;
//         }
//       }

//       &__logo {
//         position: relative;
//         background-color: var(--White);

//         &:before {
//           content: "";
//           padding-top: 100%;
//           padding-top: 66%;
//           width: 100%;
//           display: block;
//           z-index: 0;
//         }

//         > span {
//           position: absolute;

//           width: 70%;
//           height: 70%;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//           overflow: hidden;
//           display: block;
//           text-indent: -9999px;
//           background-size: contain;
//         }
//       }
//     }
//   }

//   &__topics {
//     position: relative;
//     z-index: 0;

//     &__wrap {
//       @extend .e-common_wrap;
//     }

//     &__inner {
//     }

//     &__content {
//       &__wrap {
//       }

//       &__head {
//         margin-bottom: 3rem;
//       }

//       &__body {
//         margin-bottom: 4rem;
//       }

//       &__foot {
//         &__wrap {
//           @include global.flex(center, center);

//           @include global.media(sp) {
//             display: block;
//           }
//         }
//       }
//     }

//     &__list {
//       .js-tab__wrap {
//         display: grid;
//         grid-template-columns: 200px 1fr;
//         gap: 5vw;

//         // @include global.media(tb) {
//         //   grid-template-columns: 160px 1fr;
//         //   gap: 2rem;
//         // }
//         @include global.media(tb) {
//           display: block;
//         }
//       }

//       .js-tab__head {
//         @include global.media(tb) {
//           margin-bottom: 2rem;
//         }

//         ul {
//           @include global.media(tb) {
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//             gap: 1rem;
//           }

//           @include global.media(sp) {
//             gap: 0.5rem;
//           }

//           li {
//             display: block;

//             &:last-child {
//               margin-top: 2rem;
//               padding-top: 1rem;
//               border-top: 1px solid var(--Border);

//               @include global.media(tb) {
//                 margin-top: 0;
//                 padding-top: 0;
//                 border-top: none;
//               }
//             }
//           }

//           a {
//             display: block;
//             @include global.font(var(--pow0), var(--fwn), var(--ls), 3, var(--ff));
//             color: var(--SubText);

//             @include global.media(tb) {
//               background-color: var(--Base2);
//             }

//             &.is-active {
//               color: var(--Text);
//               font-weight: var(--fwb);

//               @include global.media(tb) {
//                 background-color: var(--SubText);
//                 color: var(--White);
//               }
//             }

//             transition: color 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

//             @include global.media(pc) {
//               &:hover {
//                 color: var(--Text);
//               }
//             }

//             @include global.media(tb) {
//               text-align: center;
//               border: 1px solid var(--Border);
//               line-height: 2;
//               border-radius: 3rem;
//             }
//           }
//         }
//       }

//       .js-tab__body {
//         margin-top: -4rem;

//         @include global.media(tb) {
//           margin-top: 0;
//         }
//       }

//       &__ul {
//         border-top: 1px solid var(--Border);
//       }

//       &__li {
//         border-bottom: 1px solid var(--Border);
//         &.icon_r {
//           .p-common__postList__imagetext {
//             .title {
//               &__wrap {
//                 @include global.flex(flex-end, center);
//                 flex-direction: row-reverse;
//               }
//               svg {
//                 width: 1em;
//                 height: 1em;
//                 fill: var(--Key1);
//               }
//             }
//           }
//         }

//         dl {
//           @include global.flex(flex-start, center);
//           flex-wrap: wrap;
//           gap: 0rem;
//         }

//         .arrow {
//           width: 24px;
//           height: 24px;
//           position: absolute;
//           right: 1rem;
//           top: 50%;
//           transform-origin: center center;
//           transform: translate(0%, -50%);
//           transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           fill: var(--SubText);

//           @include global.media(sp) {
//             display: none;
//           }

//           svg {
//             width: 100%;
//             height: 100%;
//           }
//         }
//       }

//       &__imagetext {
//         transition: background-color 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//         padding-right: 3rem;
//         position: relative;

//         @include global.media(pc) {
//           &:hover {
//             background-color: var(--Base2);

//             .arrow {
//               fill: var(--Key1);
//               transform: translate(0px, -50%);
//             }

//             .title {
//               color: var(--Key1);
//             }
//           }
//         }

//         @include global.media(sp) {
//           padding-right: 0;
//         }

//         .linkBox {
//           display: block;
//           position: absolute;
//           width: 100%;
//           height: 100%;
//           top: 0;
//           left: 0;
//           z-index: 1;
//         }

//         .textBox {
//           padding: 1rem;
//           @include global.flex(flex-start, center);
//           flex-wrap: wrap;
//           gap: 0rem;

//           @include global.media(sp) {
//             padding: 1rem 0;
//           }
//         }

//         .date {
//           @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
//           color: var(--SubText);
//         }

//         .category {
//           padding-left: 1rem;
//           margin-left: 1rem;
//           position: relative;

//           a {
//             @include global.font(calc(1rem - 1px), var(--fwn), var(--ls), var(--lh), var(--ff));
//             color: var(--Key1);
//           }

//           &::before {
//             content: "";
//             position: absolute;
//             width: 1px;
//             height: 40%;
//             top: 30%;
//             left: 0;
//             display: block;
//             background-color: var(--SubText);
//             opacity: 0.4;
//           }
//         }

//         .title {
//           @include global.font(calc(var(--pow0) + 1px), var(--fwn), var(--ls), 1.8, var(--ff));
//           width: 100%;
//           transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//           position: relative;
//           &__wrap {
//             @include global.flex(flex-start, center);
//             gap: 0.5rem;
//           }

//           svg {
//             width: 2em;
//             height: 2em;
//             transition: fill 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//             fill: var(--SubText);
//             svg {
//               width: 100%;
//               height: 100%;
//             }
//           }

//           > span {
//             > span {
//               display: block;
//               font-size: 0.9em;
//             }
//           }
//         }
//       }
//     }

//     &__button {
//       @extend .p-button;
//       width: 20rem;
//       margin: 0 1rem;

//       @include global.media(sp) {
//         margin: 1rem auto;

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }

//       // margin-top: 3rem;
//       // width: 20rem;
//       // @include global.media(tb) {
//       //   margin-left: auto;
//       //   margin-right: auto;
//       // }
//     }
//   }
// }

// .p-common {
// }