@use "variable" as var;
@use "mixin" as global;
@use "sass:math";
/* --------------------------------------------
Reset
--------------------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* --------------------------------------------
Basic & Module（触らない）
--------------------------------------------*/

body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address {
  font-family: var(--ff);
  font-weight: var(--fwn);
  font-style: normal;
  color: var(--Title);
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: var(--ff);
  font-size: var(--fz_pc);
  @include global.media(tb) {
    font-size: var(--fz_tb);
  }

  @include global.media(sp) {
    font-size: var(--fz_sp);
  }

  -ms-overflow-style: none;

  /* IE10+ */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  width: 100%;
  z-index: 0;
  height: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  // overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--Base1);
  

  &.is-ready {
    * {
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
    }
  }
}

// #wrapAll {
//   width: 100%;
//   position: relative;
//   overflow: hidden;
//   main {
//     width: 100%;
//   }
// }

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-feature-settings: "palt" 1; // for Android 4.4
  font-feature-settings: "palt" 1;
  box-sizing: border-box;
}

::selection {
  color: var(--Title);
  background: var(--Border);
  // text-decoration: underline;
}

::-moz-selection {
  color: var(--Title);
  background: var(--Border);
}

img {
  display: block;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span,
i {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--Title);
  // &:visited {
  //   color: var(--Title);
  //   text-decoration: none;
  // }
  // &:hover {
  //   color: var(--Title);
  //   text-decoration: none;
  // }
}

select,
input,
textarea,
button {
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  appearance: button;
  border: none;
  background-color: transparent;
}

textarea {
  resize: vertical;
  overflow: auto;
}

input + label {
  cursor: pointer;
}

.show_pc {
  display: block;

  @include global.media(tb) {
    display: none;
  }

  @include global.media(sp) {
    display: none;
  }
}

.show_pctb {
  display: block;

  @include global.media(tb) {
    display: block;
  }

  @include global.media(sp) {
    display: none;
  }
}

.show_tbsp {
  display: none;

  @include global.media(tb) {
    display: block;
  }

  @include global.media(sp) {
    display: block;
  }
}

.show_tb {
  display: none;

  @include global.media(tb) {
    display: block;
  }

  @include global.media(sp) {
    display: none;
  }
}

.show_sp {
  display: none;

  @include global.media(tb) {
    display: none;
  }

  @include global.media(sp) {
    display: block;
  }
}

.sitemap {
  a {
    display: block;

    margin-bottom: 1rem;

    span {
      min-width: 100px;
      text-align: center;
      display: inline-block;
      border: 1px solid #eee;
      padding: 0.5rem 1rem;
    }
  }

  div {
    margin-left: 2rem;
  }
}

.width {
  &__full {
    width: 100vw;
    margin-left: calc(var(--ml) * -1);
  }
  &__left {
    margin-left: calc(var(--ml) * -1);
  }
  &__right {
    margin-right: calc(var(--mr) * -1);
  }
  &__narrow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include global.media(sp) {
      width: 100%;
    }
  }
}
.text {
  &__center {
    text-align: center;
  }
}
