@use "variable" as var;
@use "mixin" as global;
@use "extend" as extend;
@use "sass:math";

.p-logo {
  position: relative;
  display: block;
  font-size: 0;
  line-height: 0;
  user-select: none;
  overflow: hidden;
  aspect-ratio: math.div(200, 46);

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    // fill: var(--Title);
  }

  > span {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
    top: 0;
    left: 0;
    display: block;
  }

  //追加用
  &__xxxxxx {
    @extend .p-logo;
    aspect-ratio: math.div(200, 100);
  }
}

.title {
  &__wrap {
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    fill: inherit;
  }
}
.p-title {
  &__page {
    // display: block;
    // @include global.font(var(--pow7), var(--fwn), var(--ls), 1, var(--ff));

    // @include global.media(sp) {
    //   font-size: var(--pow5);
    // }
    // .title {
    //   &__main {
    //     text-transform: uppercase;
    //     display: block;
    //   }

    //   &__sub {
    //     text-transform: uppercase;
    //     font-size: 0.5em;
    //     font-weight: var(--fwn);
    //     display: block;
    //     margin-top: 0.5em;
    //   }
    // }
  }

  &__sec {
    // display: block;
    // @include global.font(var(--pow5), var(--fwn), var(--ls), 1.5, var(--ff));
    // .title {
    //   &__main {
    //     text-transform: uppercase;
    //     display: block;
    //   }

    //   &__sub {
    //     text-transform: uppercase;
    //     font-size: 0.4em;
    //     font-weight: var(--fwn);
    //     color: var(--SubText);
    //     display: block;
    //     margin-top: 1em;
    //   }
    // }
  }

  &__sub {
    // @include global.font(var(--pow3), var(--fwn), var(--ls), 1.5, var(--ff));
    // display: block;

    // .title {
    //   &__wrap {
    //     position: relative;
    //     @include global.flex(flex-start, flex-end);
    //     width: auto;
    //     gap: 0.5em;
    //     padding-left: 1.5rem;

    //     &:before {
    //       content: "";
    //       width: 0.5rem;
    //       height: 100%;
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       background-color: var(--Key1);
    //       display: block;
    //     }
    //   }

    //   &__main {
    //     display: block;
    //   }

    //   &__sub {
    //     display: block;
    //     text-transform: uppercase;
    //     font-size: max(var(--fzs), 0.5em);
    //     vertical-align: middle;
    //     color: var(--SubText);
    //     font-weight: var(--fwn);
    //   }
    // }

    // &.is-text {
    //   .title {
    //     &__wrap {
    //       gap: 0.25em;
    //       @include global.flex(flex-start, flex-start);
    //     }

    //     &__main {
    //       width: 100%;
    //       line-height: 1.5;
    //       margin-top: -0.25em;
    //       &:only-of-type {
    //         margin-top: 0;
    //       }
    //     }
    //     &__sub {
    //       width: 100%;
    //     }
    //   }
    // }
  }

  &__sub2 {
    // @include global.font(var(--pow2), var(--fwn), var(--ls), 1, var(--ff));
    // display: block;
    // .title {
    //   &__wrap {
    //     position: relative;
    //     @include global.flex(flex-start, flex-end);
    //     width: auto;
    //     gap: 0.5em;
    //   }
    //   &__main {
    //     display: block;
    //     color: var(--Key1);
    //   }

    //   &__sub {
    //     display: block;
    //     text-transform: uppercase;
    //     font-size: max(var(--fzs), 0.5em);
    //     vertical-align: middle;
    //     color: var(--SubText);
    //     font-weight: var(--fwn);
    //   }
    // }
  }

  &__num {
    // @include global.font(var(--pow3), var(--fwn), var(--ls), 1, var(--ff));
    // display: block;
    // .title {
    //   &__wrap {
    //     position: relative;
    //     @include global.flex(flex-start, flex-start);
    //     width: auto;
    //     gap: 0.2em;
    //     padding-left: 3em;
    //     padding-top: 0.25em;
    //     padding-bottom: 0.25em;

    //     &:before {
    //       content: "";
    //       width: 2.5em;
    //       height: 2.5em;
    //       border-radius: 100%;
    //       border: 1px solid var(--Key1);
    //       background-color: var(--White);
    //       display: block;
    //       position: absolute;
    //       top: 50%;
    //       left: 0;
    //       transform: translate(0, -50%);
    //       box-sizing: border-box;
    //     }

    //     &:after {
    //       content: "01";
    //       position: absolute;
    //       top: 50%;
    //       left: calc(1.25em + 1px);
    //       transform: translate(-50%, -50%) scale(1.2);
    //       display: block;
    //       transform-origin: center center;
    //       @include global.font(1em, var(--fwn), 0, 2.5em, var(--ff));
    //       color: var(--Key1);
    //     }
    //   }

    //   &__main {
    //     display: block;
    //     line-height: 1.5;
    //     margin-top: -0.25em;
    //     width: 100%;
    //   }

    //   &__sub {
    //     display: block;
    //     text-transform: uppercase;
    //     font-size: max(var(--fzs), 0.5em);
    //     vertical-align: middle;
    //     color: var(--SubText);
    //     font-weight: var(--fwn);
    //     width: 100%;
    //   }
    // }
  }

  &__box {
    // @include global.font(var(--pow2), var(--fwn), var(--ls), 1.7, var(--ff));
    // display: block;

    // .title {
    //   &__wrap {
    //   }

    //   &__main {
    //     display: block;
    //   }

    //   &__sub {
    //     display: block;
    //     text-transform: uppercase;
    //     font-size: max(var(--fzs), 0.5em);
    //     vertical-align: middle;
    //     color: var(--SubText);
    //     font-weight: var(--fwn);
    //   }
    // }
  }
}

.p-text {
  @include global.font(var(--pow0), var(--fwn), var(--ls), var(--lh), var(--ff));
  color: var(--Text);

  a {
    text-decoration: underline;
    color: inherit;

    &.p-link {
      text-decoration: none;
    }

    @include global.media(pc) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.p-lead {
  @extend .p-text;
  @include global.font(var(--pow2), var(--fwn), var(--ls), var(--lh), var(--ff));
  color: var(--Title);

  &__s {
    @include global.font(var(--pow0), var(--fwn), var(--ls), var(--lh), var(--ff));
  }
}

.p-caption {
  @extend .p-text;
  @include global.font(var(--fzs), var(--fwn), var(--ls), var(--lh), var(--ff));
  color: var(--SubText);
}

.p-date {
  @include global.font(var(--fzs), var(--fwn), var(--ls), 1, var(--ff));
  color: var(--SubText);
}

.p-copyright {
  @include global.font(var(--fzs), var(--fwn), var(--ls), 1, var(--ff));
}

.p-info {
  @include global.font(calc(var(--pow0) - 1px), var(--fwn), var(--ls), 2, var(--ff));

  a {
    color: inherit;

    &.tel {
      cursor: default;

      @include global.media(pc) {
        &:hover {
          opacity: 1;
        }
      }
    }

    &.map {
      text-decoration: underline;

      @include global.media(pc) {
        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}

.p-sign {
  text-align: right;

  .date {
    @extend .p-text;
    font-size: 0.9em;
    color: var(--SubText);
  }

  .people {
    @extend .p-text;

    small {
      display: inline-block;
      vertical-align: center;
      font-size: 0.8em;
      padding-right: 0.5rem;
    }
  }
}

.p-attention {
  li {
    @extend .p-caption;
    display: block;

    & + li {
      margin-top: 0.6em;
    }

    > span {
      position: relative;
      padding-left: 1.5em;
      display: block;

      &:before {
        content: "※";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
      }
    }
  }
}

.p-ul {
  li {
    position: relative;
    @extend .p-text;
    display: block;
    background-color: var(--Base2);
    padding: 2rem;

    @include global.media(sp) {
      padding: 2rem 1rem;
    }

    & + li {
      margin-top: 1em;
    }

    > span {
      position: relative;
      padding-left: 3em;
      display: block;
      @include global.media(sp) {
        padding-left: 2em;
      }

      &:before {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: var(--Key1);
        top: 0.5em;
        left: 0.5em;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }
}

.p-ol {
  list-style-type: none;
  counter-reset: ol;

  li {
    position: relative;
    @extend .p-text;
    display: block;
    background-color: var(--Base2);
    padding: 2rem;

    @include global.media(sp) {
      padding: 2rem 1rem;
    }

    & + li {
      margin-top: 1em;
    }

    > span {
      position: relative;
      padding-left: 3em;
      display: block;

      &:before {
        counter-increment: ol;
        content: counter(ol);
        @include global.font(var(--fzs), var(--fwn), 0em, 1, var(--ff));
        @include global.flex(center, center);
        width: 2em;
        height: 2em;
        border: 1px solid var(--Border);
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.p-category,
.p-tag {
  @include global.font(var(--fzs), var(--fwn), var(--ls), 1, var(--ff));
  @include global.flex(flex-start, center);
  width: auto;
  gap: 1em;

  a,
  p {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    transition: opacity var(--duration) var(--easing) 0ms, color var(--duration) var(--easing) 0ms, fill var(--duration) var(--easing) 0ms,
      border-color var(--duration) var(--easing) 0ms, background-color var(--duration) var(--easing) 0ms;
  }
}

.p-category {
  a,
  p {
    border: 1px solid;
    padding: 0.2em 0.5em;
    color: var(--Key1);
    fill: var(--Key1);
    background-color: transparent;
    border: 1px solid var(--Key1);
    border-radius: 3em;
  }

  a {
    @include global.media(pc) {
      &:hover {
        border-color: var(--Border);
        background-color: var(--Border);
        color: var(--White);
        fill: var(--White);
      }
    }
  }
}

.p-tag {
  gap: 0;

  a,
  p {
    color: var(--SubText);

    &:before {
      content: ",";
      margin: 0 0.3em;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    > span {
      &:before {
        content: "#";
      }
    }
  }

  a {
    @include global.media(pc) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// @include global.ButtonColor(背景色, 罫線色, 文字色, ホバー背景色, ホバー罫線色, ホバー文字色);
.p-button {
  @include global.font(var(--pow0), var(--fwn), 0.12em, 1, var(--ff));
  @include global.flex(center, center);
  padding: 1em;
  position: relative;
  overflow: hidden;
  width: var(--buttonWidth);
  border-radius: var(--buttonRadius);
  &:before,&:after{
    border-radius: var(--buttonRadius);
  }  

  // border-radius: 3em;
  > span {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    position: relative;
    z-index: 2;
  }

  > input {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
  }

  > svg {
    width: 1.3em;
    height: 1.3em;
    display: block;
    margin-right: 0.5em;
    position: relative;
    z-index: 2;
  }

  &.is-reverse {
    flex-direction: row-reverse;

    > span {
    }

    > svg {
      margin-right: 0;
      margin-left: 0.2em;
    }
  }

  &.is-size {
    &__large {
      font-size: var(--pow1);
      padding: 1.8em;
      max-width: 100%;
    }

    &__small {
      font-size: var(--fzs);
      padding: 0.6em 1em;
      max-width: 12rem;
    }
  }
}

.p-cv {
  @include global.font(var(--pow0), var(--fwn), 0.06em, 1, var(--ff));
  display: block;
  position: relative;
  padding: 0 1em;
  height: 4em;

  &.is-image {
    height: auto;
    padding: 0.5em;
    padding-right: 0;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;

    &.is-size {
      &__large {
        height: auto;
        font-size: inherit;

        .p-cv {
          &__left {
          }
        }
      }
    }

    .p-cv {
      &__wrap {
        height: auto;
      }

      &__inner {
        height: auto;
        gap: 0;
        width: 100%;
      }

      &__left {
        width: 33.33%;
        max-width: 16em;
      }

      &__right {
        padding: 0 2em 0 1.5em;

        @include global.media(sp) {
          padding: 0 2em 0 1em;
        }
      }

      &__image {
        @extend .p-image;
      }

      &__title {
        font-size: 1.7em;

        &__jp {
          display: block;
          font-size: 1.3em;
        }
      }

      &__subtitle {
        font-size: max(var(--fzs), 0.7em);
        margin-top: 0.6em;
        margin-bottom: -0.3em;
        line-height: 1.6;
        display: block;
      }
    }
  }

  &.is-size {
    &__large {
      font-size: var(--pow2);
      height: 6em;
      max-width: 100%;
    }
  }

  &__wrap {
    display: block;
    position: relative;
    z-index: 2;
    height: 100%;
  }

  &__inner {
    @include global.flex(center, center);
    height: 100%;
    width: max-content;
    gap: 0.5em;
    margin: 0 auto;
  }

  &__left {
    width: 2.5em;
  }

  &__right {
    flex: 1;
  }

  &__svg {
    position: relative;
    display: block;
    aspect-ratio: 1;

    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-size: 1.5em;
    letter-spacing: 0.06em;
    display: block;

    &__jp {
      display: block;
      // font-size: min(1.3em,var(--pow2));
      font-size: 1.25em;
      letter-spacing: 0.1em;
      margin-bottom: 0.1em;
    }
  }

  &__subtitle {
    font-size: max(10px, 0.8em);
    margin-top: 0.3em;

    display: block;

    @include global.media(sp) {
      letter-spacing: 0;
    }

    // vertical-align: text-bottom;
  }
}

.p-button,
.p-cv {
  @include global.ButtonColor(var(--Key1), var(--Key1), var(--White), transparent, var(--Key1), var(--Key1));

  &.is-color {
    &__sub {
      @include global.ButtonColor(var(--Key2), var(--Key2), var(--White), transparent, var(--Key2), var(--Key2));
    }

    &__white {
      @include global.ButtonColor(var(--White), var(--White), var(--Key1), transparent, var(--White), var(--White));
    }

    &__disable {
      @include global.ButtonColor(var(--Border), var(--Border), var(--White), var(--Border), var(--Border), var(--White));
      pointer-events: none;
      cursor: default;
    }
  }
}


.p-link {
  display: inline-block;
  color: var(--Key1);
  fill: var(--Key1);
  border-color: var(--Key1);
  position: relative;
  overflow: hidden;
  @include global.flex(center, center);
  // flex-direction: row-reverse;
  @include global.font(var(--pow0), var(--fwn), 0.12em, 2, var(--ff));
  width: max-content;

  @include global.media(pc) {
    &:hover {
      &:after {
        width: 0%;
        left: 100%;
        transition: width 0ms var(--easing) var(--duration), left var(--duration) var(--easing) 0ms;
      }
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 1px solid;
    background-color: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    will-change: width, left;
    transition: width var(--duration) var(--easing) 0ms, left 0ms var(--easing) 0ms;
  }

  > svg {
    width: 1.3em;
    height: 1.3em;
    display: block;
    position: relative;
    z-index: 2;
    margin-right: 0.5em;
  }

  > span {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    position: relative;
    z-index: 2;
  }

  &.is-reverse {
    flex-direction: row-reverse;

    > span {
    }

    > svg {
      margin-right: 0;
      margin-left: 0.2em;
    }
  }

  &.is-color {
    &__sub {
      color: var(--Key2);
      fill: var(--Key2);
      border-color: var(--Key2);
    }

    &__white {
      color: var(--White);
      fill: var(--White);
      border-color: var(--White);
    }
  }
}

/* -----------------------
.p-image__rxxでの指定可能
.p-imageのデフォルトは3：2
部分的に変更の場合は、
// @include global.ratio($pc: math.div(3,2));
// @include global.ratio($pc: math.div(3,2), $tb: math.div(3,2), $sp: math.div(3,2));
// @include global.ratio(math.div(3,2), math.div(3,2), math.div(3,2));
-----------------------*/
.p-image {
  $RatioArray: 200, 177, 150, 120, 100, 75, 66, 56, 50;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  @include global.ratio($pc: math.div(3, 2));

  figcaption {
    margin-top: 0.5rem;
    text-align: right;
    display: block;
    @extend .p-caption;
    color: var(--SubText);
  }

  >span {
    position: relative;
    z-index: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
  }

  &.is-link {
    cursor: pointer;

    @include global.media(pc) {
      &:hover {
        > span {
          &:before {
            opacity: 0.6;
          }

          &:after {
            opacity: 1;
            transform: translate(0, -50%);
          }
        }
      }
    }

    > span {
      &:before {
        content: "";
        transition: opacity var(--duration) var(--easing) 0ms;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        will-change: opacity;
        background-color: #000000;
      }

      &:after {
        content: "View Detail";
        @include global.font(var(--fzs), var(--fwn), 0.06em, 1, var(--ff));
        display: block;
        color: #ffffff;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        transform: translate(0, calc(-50% + 0.2em));
        width: 100%;
        text-align: center;
        display: block;
        opacity: 0;
        will-change: opacity, transform;
        transition: opacity var(--duration) var(--easing) 0ms, transform var(--duration) var(--easing) 0ms;
      }
    }
  }

  &.is-play {
    cursor: pointer;
    @include global.ratio(math.div(16, 9));

    @include global.media(pc) {
      &:hover {
        > span {
          &:before {
            opacity: 0.6;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }

    > span {
      &:before {
        content: "";
        transition: opacity var(--duration) var(--easing) 0ms;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
        will-change: opacity;
        background-color: #000000;
      }

      &:after {
        content: "";
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../image/common/icon-play.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 2;
        visibility: visible;
        opacity: 1;
        transition: opacity var(--duration) var(--easing) 0ms, visibility var(--duration) var(--easing) 0ms, z-index var(--duration) var(--easing) 0ms;
      }
    }
  }

  @each $ratio in $RatioArray {
    &__r#{$ratio} {
      @extend .p-image;

      @if $ratio==50 {
        @include global.ratio(math.div(2, 1));
      }

      @if $ratio==56 {
        @include global.ratio(math.div(16, 9));
      }

      @if $ratio==66 {
        @include global.ratio(math.div(3, 2));
      }

      @if $ratio==75 {
        @include global.ratio(math.div(4, 3));
      }

      @if $ratio==100 {
        @include global.ratio(math.div(1, 1));
      }

      @if $ratio==120 {
        @include global.ratio(math.div(3, 4));
      }

      @if $ratio==150 {
        @include global.ratio(math.div(2, 3));
      }

      @if $ratio==177 {
        @include global.ratio(math.div(9, 16));
      }

      @if $ratio==200 {
        @include global.ratio(math.div(1, 2));
      }
    }
  }
}

$FormInputHeight: 2.8rem;

.p-input {
  min-width: 10rem;

  input {
    @include global.font(1rem, var(--fwn), 0.12em, $FormInputHeight, var(--ff));
    border: 1px solid var(--Border);
    padding: 0 0.9rem;
    width: 100%;
    background-color: var(--White);
  }
}

.p-textarea {
  textarea {
    @include global.font(1rem, var(--fwn), 0.12em, 1.8, var(--ff));
    border: 1px solid var(--Border);
    width: 100%;
    padding: 0.5rem 0.9rem;
    height: 14rem;
    background-color: var(--White);
  }
}

.p-checkbox {
  $chkicon: 1.8rem;
  $chkedicon: 1.2rem;

  label {
    position: relative;
    padding-left: 2.4rem;
    cursor: pointer;
    margin-right: 1.2rem;
  }

  input {
    display: none;

    & + span {
      @include global.font(1rem, var(--fwn), 0.12em, $FormInputHeight, var(--ff));
      display: inline-block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 0;
        margin-top: math.div($chkicon, -2);
        width: $chkicon;
        height: $chkicon;
        border: 1px solid var(--Border);
        background-color: var(--White);
        opacity: 1;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: calc((#{$chkicon} - #{$chkedicon}) / 2);
        width: $chkedicon;
        height: math.div($chkedicon, 2);
        background-color: transparent;
        opacity: 0;
        border-bottom: 3px solid var(--Key1);
        border-left: 2px solid var(--Key1);
        transform-origin: center center;
        transform: translate(0%, -75%) rotate(-45deg);
        // transform: rotate(-45deg) translateY(-50%);
        transition: opacity var(--duration) var(--easing) 0ms;
      }
    }

    &:checked + span {
      &:after {
        opacity: 1;
      }
    }
  }
}

.p-radio {
  $chkicon: 1.8rem;
  $chkedicon: 0.9rem;

  label {
    position: relative;
    padding-left: 2.4rem;
    cursor: pointer;
    margin-right: 1.2rem;
  }

  input {
    display: none;

    & + span {
      @include global.font(1rem, var(--fwn), 0.12em, $FormInputHeight, var(--ff));
      display: inline-block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 0;
        margin-top: math.div($chkicon, -2);
        width: $chkicon;
        height: $chkicon;
        border: 1px solid var(--Border);
        background-color: var(--White);
        opacity: 1;
        border-radius: 100%;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: calc((#{$chkicon} - #{$chkedicon}) / 2);
        transform: translateY(-50%);
        width: $chkedicon;
        height: $chkedicon;
        border-radius: 100%;
        opacity: 0;
        background-color: var(--Key1);
        transition: opacity var(--duration) var(--easing) 0ms;
      }
    }

    &:checked + span {
      &:after {
        opacity: 1;
      }
    }
  }
}

.p-select {
  position: relative;

  // padding-right: $FormInputHeight;
  @include global.media(pc) {
    &:hover {
      .arrow {
        background-color: var(--Border);
      }
    }
  }

  .arrow {
    position: absolute;
    height: 100%;
    width: $FormInputHeight;
    aspect-ratio: 1;
    background-color: var(--Key1);
    cursor: pointer;
    // border: 1px solid var(--Key1);
    top: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    transition: background-color var(--duration) var(--easing) 0ms;

    &:before {
      content: "";
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      border-bottom: 1px solid var(--White);
      border-right: 1px solid var(--White);
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center center;
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  select {
    @include global.font(1rem, var(--fwn), var(--ls), $FormInputHeight, var(--ff));
    border: 1px solid var(--Border);
    border-right: none;
    background-color: var(--White);
    padding: 0 1rem;
    padding-right: $FormInputHeight;
    width: 100%;
    appearance: none;

    [disabled] {
      color: var(--SubText);
    }
  }
}

.p-search {
  @include global.font(var(--pow0), var(--fwn), var(--ls), 1, var(--ff));
  position: relative;
  @include global.flex(flex-start, stretch);

  label {
    position: relative;
    flex: 1;
    background-color: var(--White);
    border: 1px solid var(--Border);
    border-right: none;
    display: block;
  }

  input[type="text"] {
    width: 100%;
    display: block;
    padding: 1em;

    &::placeholder {
      color: var(--SubText);
    }
  }

  button[type="submit"] {
    width: calc(3em + 2px);
    background-color: var(--Key1);
    fill: var(--White);
    position: relative;
    transition: background-color var(--duration) var(--easing) 0ms;

    @include global.media(pc) {
      &:hover {
        background-color: var(--Border);
      }
    }

    svg {
      width: 50%;
      height: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: center center;
      transform: translate(-50%, -50%);
    }
  }
}

.p-add {
  @include global.flex(flex-start, center);
  flex-direction: column;
  gap: 0.5rem;
  & > * {
    width: 100%;
  }
}
.p-zip {
  @include global.flex(flex-start, center);
  gap: 1rem;
  .postal-search {
    @extend .p-button;
    @extend .is-size__small;
    padding: 0 0.9rem;
    line-height: $FormInputHeight;
  }
}
.p-table {
  overflow: hidden;
  width: 100%;

  // max-width: 100%;
  // @include global.media(tb) {
  //   width: 90vw;
  // }
  table {
    width: 100%;
    // max-width: 100%;
    border-top: 1px solid var(--Border);
    border-left: 1px solid var(--Border);

    thead {
      td {
        background-color: var(--Base2);

        &.corner {
          filter: brightness(0.95);
        }
      }
    }

    tbody {
      tr {
      }

      th {
        max-width: 30%;
        min-width: 7em;
      }
    }

    tr {
    }

    th {
      background-color: var(--Base2);
    }

    td {
    }

    th,
    td {
      padding: 1rem;
      text-align: left;
      vertical-align: top;
      overflow: hidden;

      border-right: 1px solid var(--Border);
      border-bottom: 1px solid var(--Border);

      &.is-color__key1 {
        background-color: var(--Key1);

        > span {
          color: var(--White);
        }
      }

      &.is-color__key2 {
        background-color: var(--Key2);

        > span {
          color: var(--White);
        }
      }

      &.col {
        border-right: 1px dashed var(--Border);
      }

      &.row {
        border-bottom: 1px dashed var(--Border);
      }

      > span {
        @extend .p-text;
        line-height: 1.8;
        display: block;

        a {
          color: var(--Key1);
        }

        .true {
          display: inline-block;
          vertical-align: middle;
          width: 1.8em;
          height: 1.8em;
          border: 1px solid var(--Text);
          border-radius: 100%;
          overflow: hidden;
          text-indent: -9999px;
        }

        .false {
          display: inline-block;
          vertical-align: middle;
          width: 1.8em;
          height: 0;
          border-top: 1px solid var(--SubText);
          overflow: hidden;
          text-indent: -9999px;
        }
      }
    }

    th {
      > span {
        font-weight: var(--fwn);
      }
    }
  }

  &.is-middle {
    table {
      th,
      td {
        vertical-align: middle;
        text-align: center;
      }

      tbody {
        th {
          text-align: left;
        }
      }
    }
  }

  &.is-scroll {
    @include global.media(sp) {
      overflow-x: auto;
      width: calc(100% + var(--mr));
      padding-right: var(--mr);

      th,
      td {
        white-space: nowrap;
      }
    }
  }

  &.is-stripes {
    &__vertical {
      table {
        thead {
          tr {
            > th {
              &:nth-of-type(2n) {
                position: relative;

                &:before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: rgba(#888888, 0.05);
                }

                > span {
                  position: relative;
                  z-index: 1;
                }
              }
            }
          }
        }

        tbody {
          tr {
            > td {
              &:nth-of-type(even) {
                position: relative;

                &:before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: rgba(#888888, 0.05);
                }

                > span {
                  position: relative;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }

    &__horizontal {
      table {
        tbody {
          tr {
            &:nth-child(even) {
              th,
              td {
                position: relative;

                &:before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: rgba(#333333, 0.05);
                }

                > span {
                  position: relative;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  &.is-round {
    table {
      border-spacing: 0;
      border-collapse: separate;
      border-radius: 10px;

      thead {
        th {
          &:first-child {
            border-radius: 10px 0 0 0;
          }

          &:last-child {
            border-radius: 0 10px 0 0;
          }
        }

        & + tbody {
          tr {
            &:first-child {
              th,
              td {
                &:first-child {
                  border-radius: 0;
                }

                &:last-child {
                  border-radius: 0;
                }
              }
            }

            &:only-of-type {
              th,
              td {
                &:first-child {
                  border-radius: 0 0 0 10px;
                }

                &:last-child {
                  border-radius: 0 0 10px 0;
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          &:first-child {
            th,
            td {
              &:first-child {
                border-radius: 10px 0 0 0;
              }

              &:last-child {
                border-radius: 0 10px 0 0;
              }
            }
          }

          &:last-child {
            th,
            td {
              &:first-child {
                border-radius: 0 0 0 10px;
              }

              &:last-child {
                border-radius: 0 0 10px 0;
              }
            }
          }
        }
      }
    }
  }
}

.p-pankuzu {
  list-style-type: none;
  display: inline-block;
  white-space: nowrap;
  mix-blend-mode: difference;
  padding: 1rem 0;
  @include global.flex(flex-start, center);

  li {
    line-height: 1;

    &:nth-child(1) {
      p,
      div,
      a {
        svg {
          display: block;
        }
      }
    }

    & + li {
      position: relative;
      margin-left: 10px;
      padding-left: 10px;

      &:before {
        content: "";
        width: 1px;
        background-color: var(--SubText);
        height: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(30deg);
      }

      // &:before,
      // &:after {
      //   content: "";
      //   width: 5px;
      //   background-color: rgba(#ffffff, 0.5);
      //   height: 1px;
      //   position: absolute;
      //   left: 0;
      //   top: 50%;
      //   transform-origin: center right;
      // }

      // &:before {
      //   transform: translate(-100%, -50%) rotate(45deg);
      // }

      // &:after {
      //   transform: translate(-100%, -50%) rotate(-45deg);
      // }
    }
  }

  p,
  div,
  a {
    @include global.font(10px, var(--fwn), 0.02em, 1, var(--ff));
    fill: var(--SubText);
    color: var(--SubText);
    display: block;
    text-transform: uppercase;
    transition: color var(--duration) var(--easing) 0ms;
    @include global.flex(flex-start, center);
    gap: 3px;

    @include global.media(sp) {
      font-size: 9px;
    }

    span {
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;

      @include global.media(sp) {
        // max-width: 160px;
      }
    }

    svg {
      width: 1.3em;
      height: 1.3em;
      display: none;
    }
  }

  a {
    @include global.media(pc) {
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &.is-white {
    * {
      color: #ffffff;
    }

    li {
      & + li {
        &:before,
        &:after {
          background-color: rgba(#ffffff, 0.5);
        }
      }
    }

    p,
    div,
    a {
      fill: #ffffff;
      color: #ffffff;
    }
  }
}

.p-pager {
  &__num {
    margin-top: var(--Gap3);
    ul {
      @include global.flex(center, center);

      li {
        a,
        div {
          @include global.font(var(--fzs), var(--fwn), 0em, 1, var(--ff));
          display: block;
          padding: 1em;

          span {
            display: block;
            position: relative;

            &:after {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              bottom: -5px;
              left: 0%;
              background-color: var(--Title);
            }
          }
        }

        a {
          color: var(--SubText);

          @include global.media(pc) {
            &:hover {
              color: var(--Title);

              span {
                &:after {
                  opacity: 1;
                }
              }
            }
          }

          span {
            &:after {
              opacity: 0;
            }
          }
        }

        div {
          color: var(--Title);
        }
      }
    }
  }

  &__arr {
    margin-top: var(--Gap3);
    &__prev {
      svg {
        transform-origin: center center;
        transform: rotate(180deg);
      }
    }

    ul {
      @include global.flex(center, center);
      gap: 10vw;

      li {
        display: block;
      }

      a {
        @include global.flex(flex-start, center);
        @include global.font(var(--fzs), var(--fwn), var(--ls), 1, var(--ff));
        gap: 0.5em;
        width: auto;
        position: relative;

        &:after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -5px;
          left: 0%;
          background-color: var(--Title);
          opacity: 0;
        }

        @include global.media(pc) {
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }

        @include global.media(pc) {
          &:hover {
            span {
              &:after {
                opacity: 1;
              }
            }
          }
        }

        span {
          display: block;
          position: relative;
        }

        svg {
          display: block;
          width: 1.3em;
          height: 1.3em;
        }
      }
    }
  }
}

.p-share {
  $snsiconw: 2.5rem;
  font-size: 0;
  // @include global.flex(center, center);

  li {
    display: inline-block;
    padding: 0.5rem;

    a {
      width: $snsiconw;
      height: $snsiconw;
      text-align: center;
      display: block;
      border-radius: 100%;
      opacity: 1;
      position: relative;
      transition: background-color var(--duration) var(--easing) 0ms, border-color var(--duration) var(--easing) 0ms;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      svg {
        position: absolute;
        fill: var(--White);
        top: 50%;
        left: 50%;
        width: 60%;
        height: 60%;
        transform-origin: center center;
        transform: translate(-50%, -50%);
        transition: fill var(--duration) var(--easing) 0ms;
      }
    }

    $snslist: (
      "fb": #3b5998,
      "tw": #55acee,
      "gplus": #dd4b39,
      "feedly": #6cc655,
      "line": #00c300,
      "hatena": #008fde,
      "rss": #ff8c00,
      "pocket": #ee4056,
      "youtube": #cd201f,
      "wp": #21759b,
      "dropbox": #007ee5,
      "pinterest": #ce0f19,
      "evernote": #79bd28,
      "note": #248f76,
      "copy": gray,
      "x": #000000,
    );

    @each $key, $snscolor in $snslist {
      &.#{$key} a {
        background-color: $snscolor;
        border: 1px solid $snscolor;

        @include global.media(pc) {
          &:hover {
            border-color: $snscolor;
            background-color: var(--Base);

            svg {
              fill: $snscolor;
            }
          }
        }
      }
    }
  }
}

.p-map {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  aspect-ratio: math.div(16, 9);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    will-change: opacity;
    background-color: #000000;
    transition: opacity var(--duration) var(--easing) 0ms;
  }

  &:after {
    content: "GoogleMap";
    @include global.font(var(--fzs), var(--fwn), 0.06em, 1, var(--ff));
    display: block;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate(0, calc(-50% + 0.2em));
    width: 100%;
    text-align: center;
    display: block;
    opacity: 0;
    will-change: opacity, transform;
    transition: opacity var(--duration) var(--easing) 0ms, transform var(--duration) var(--easing) 0ms;
  }

  > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .js-map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &:before {
      display: none;
    }
  }

  &.is-ovh {
    // filter: grayscale(100%);
    @include global.media(pc) {
      &:hover {
        &:before {
          opacity: 0.6;
        }

        &:after {
          opacity: 1;
          transform: translate(0, -50%);
        }
      }
    }

    > iframe {
      position: absolute;
      width: 100%;
      height: calc(100% + 340px);
      top: -170px;
      left: 0;
      z-index: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  &.js-api {
  }
}

.p-youtube {
  .iframe {
    position: relative;
    aspect-ratio: math.div(16, 9);

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.p-sns {
  ul {
    @include global.flex(flex-start, flex-start);
    // justify-content: center;
    width: auto;
    gap: 1rem;

    li {
      a {
        svg {
          width: 2rem;
          aspect-ratio: 1;
          // height: 2rem;
        }
      }
    }
  }
}
