.p-manual {
  margin-top: 1rem;
  * {
    margin: 0;
  }
  h2 {
    color: #2271b1;
  }
  img {
    display: block;
    width: 100%;
  }
  &__sec {
    &__wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
    }
  }
  &_img {
    width: 60%;
    img + img {
      margin-top: 0.5rem;
    }
    img {
      border: 1px solid #eaecf0;
      margin: 0;
    }
  }
  &_body {
    flex: 1;
  }
  &_box {
    & + div {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid #eaecf0;
    }
    * + * {
      margin-top: 1rem;
    }
    .num {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      color: #fff;
      background-color: #ff0689;
      text-align: center;
      line-height: 1.5rem;
      margin-right: 0.5rem;
    }
    table {
      border-bottom: 1px solid #eaecf0;
      border-spacing: 0px;
      width: 100%;

      th {
        width: 10px;
        white-space: nowrap;
        text-align: left;
        padding: 0.5rem 0.8rem;
        border-top: 1px solid #eaecf0;
        background-color: #f9fafb;
      }
      td {
        padding: 0.5rem;
        border-top: 1px solid #eaecf0;
      }
    }
    dl {
      margin-top: 1.5rem;
      dt {
        font-weight: bold;
      }
      dd {
        margin-top: 0.3rem;
      }
    }
  }
  .js-tab {
    min-width: 1000px;
    &__wrap {
      position: relative;
      z-index: 1;
    }
    &__head {
      * {
        user-select: none;
      }
      ul {
        margin: 0;
        display: flex;
        flex-direction: flex-start;
        gap: 4px;
        li {
          margin: 0;
        }

        a {
          color: #23282d;
          background-color: #f9fafb;
          text-decoration: none;
          display: block;
          padding: 0.8rem 2rem;
          border-radius: 3px 3px 0 0;
          font-weight: bold;
          &:hover {
            color: #2271b1;
            background-color: #f7f7f7;
          }
          &.is-active {
            color: #fff;
            background-color: #2271b1;
          }
        }
      }
    }

    &__body {
      &__wrap {
        position: relative;
        overflow: hidden;
      }
    }

    &__nav {
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      will-change: opacity, visibility, z-index;
      transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, z-index 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;

      &.is-active {
        position: relative;
        z-index: 1000;
        opacity: 1;
        visibility: visible;
      }

      &__wrap {
        background-color: #fff;
        padding: 2rem;
      }
    }
  }
}

$wpcolor: #2371b1;
$wpcolor2: #d8ebf5;
$wpborder: #dfdfdf;
$wpborder2: #ccd0d4;
$wpborder3: #eaecf0;
$wpbg: #f4f4f4;
$wpbg2: #f4f4f4;
#poststuff {
  p.description {
    font-size: 11px;
    color: #aaa;
  }
  .inside.acf-fields.-top {
    // initialize
    .acf-field {
      padding: 0 !important;
      border: none !important;
      .-border {
        border: none;
      }
      .acf-label {
        padding: 8px 8px;
        margin-bottom: 0;

        label {
          margin-bottom: 0;
          font-weight: bold;
        }
      }
      .acf-table {
        border: none !important;

        tr {
          // display: flex;
          // gap: 4px;
        }
        th,
        td {
          border: 4px solid #fff !important;
          // flex: 1;
          &[data-name="mode"] {
            width: 20%;
            flex: initial;
          }
          &.acf-row-handle {
            width: 16px;
            flex: initial;
          }
        }
        th {
          // padding-left: 8px;
          // padding-right: 8px;
          // padding-top: 0;
          padding: 4px 8px !important;
          background-color: $wpbg;
          margin-bottom: 4px;
          label {
          }
        }
        td {
        }
      }
      .acf-repeater {
        & > .acf-table {
          margin-bottom: 0;
          & > tbody > .acf-row {
            gap: 0;
            & > td,
            & > th {
              border-bottom: 1px solid $wpborder !important;
              label {
                font-size: 12px;
              }
            }
            &:first-child {
              & > td,
              & > th {
                border-top: 1px solid $wpborder !important;
              }
            }
            & > .acf-fields {
              padding: 16px !important;
            }
          }
        }
        .acf-actions {
          padding: 8px !important;
        }

        &.-rows,
        &.-row {
          & > .acf-table > tbody > .acf-row {
            & > td,
            & > th {
              border: 0px solid #fff !important;
              border-bottom: 1px solid $wpborder !important;
            }
            &:first-child {
              & > td,
              & > th {
                border-top: 1px solid $wpborder !important;
              }
            }
            & > .acf-field {
              & > .acf-input {
                padding: 8px !important;
                & > .acf-fields.-top {
                  border: 1px solid $wpborder !important;
                  border-top: 0px solid $wpborder !important;
                  & > .acf-field {
                    display: grid;
                    grid-template-columns: 9rem 1fr;
                    gap: 0;
                    border-top: 1px solid $wpborder !important;
                    &::before {
                      display: none !important;
                    }

                    & > .acf-label {
                      float: initial;
                      padding: 0;
                      width: 100%;
                      padding: 8px;
                      background-color: #f9f9f9;
                    }
                    & > .acf-input {
                      float: initial;
                      padding: 0;
                      width: 100%;
                      padding: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .acf-fields.-left > .acf-field {
      display: grid;
      grid-template-columns: 9rem 1fr;
      gap: 0;
      border-bottom: 1px solid $wpborder !important;

      &::before {
        display: none !important;
      }
      &:first-child {
        border-top: 1px solid $wpborder !important;
      }
      & > .acf-label {
        float: initial;
        padding: 0;
        width: 100%;
        padding: 8px;
        background-color: #f9f9f9;
        label {
          font-size: 12px;
        }
      }
      & > .acf-input {
        float: initial;
        padding: 0;
        width: 100%;
        padding: 8px;
      }
    }

    .acf-fields.-top > .acf-field {
      &.acf-field-text,
      &.acf-field-textarea,
      &.acf-field-image {
        & > .acf-input {
          padding: 8px !important;
        }
      }
    }

    // 見出し系
    & > .acf-field {
      & + .acf-field {
        margin-top: 16px;
      }
      & > .acf-label {
        background-color: $wpcolor2;
        background-color: $wpcolor;
        label {
          color: $wpcolor;
          color: #fff;
        }
      }
      & > .acf-input {
        padding: 16px;
      }

      &[data-type="group"] {
        & > .acf-input {
          padding: 0;
          & > .acf-fields.-border {
            border: none;
            & > .acf-field {
              padding: 0;
              & > .acf-label {
                background-color: #e8f3ff;
                padding-top: 16px;
                // border-top: 4px solid $wpcolor;
                label {
                  // font-size: 12px;
                }
              }
              & > .acf-input {
                // padding: 16px;
                & > .acf-fields {
                  & > .acf-field {
                    &.acf-field-group {
                      border: 1px solid $wpborder !important;
                    }
                    & > .acf-label {
                      background-color: $wpbg;
                      label {
                        font-size: 12px;
                      }
                    }
                    & + .acf-field {
                      // margin-top: 16px;
                    }
                  }
                  // &.left {
                  //   & > .acf-field {
                  //     & + .acf-field {
                  //       margin-top: 0px !important;
                  //     }
                  //   }
                  // }
                }
              }
            }
          }
          & > .acf-table {
            // padding: 8px !important;
          }
        }
      }
    }

    // ページタイトル
    & > .acf-field-top-title {
      & > .acf-input {
        padding: 16px 16px 0 16px !important;
      }
    }

    // タブ
    .is-tab {
      position: relative;
      padding: 39px 10px 10px 10px !important;
      .acf-tab-wrap {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #e8f3ff;
      }
      .acf-tab-button {
        font-size: 12px !important;
        min-width: 4rem;
        text-align: center;
      }
      .acf-tab-group li.active a {
        background: $wpcolor !important;
        color: #fff !important;
      }
    }

    //柔軟コンテンツ
    .acf-field-flexible-content {
      .acf-fc-layout-handle {
        background-color: #eaf7fe;
      }
      & > .acf-label {
        display: none;
      }
      .acf-field-group,
      .acf-field-image {
        & > .acf-label {
          display: none;
        }
      }

      .acf-field-textarea[data-name="text"] {
        & > .acf-label {
          display: none;
        }
        & > .acf-input {
          padding: 8px;
        }
      }

      .-left {
        .acf-field-textarea[data-name="text"] {
          & > .acf-label {
            display: block;
          }
        }
        .acf-field-group,
        .acf-field-image {
          & > .acf-label {
            display: block;
          }
        }
      }
      // .acf-field-group[data-name="title"] {
      //   & > .acf-label {
      //     display: none;
      //   }
      // }
      // .acf-field-group[data-name="sign"] {
      //   & > .acf-label {
      //     display: none;
      //   }
      // }
    }

    .acf-fields.-top.-border {
      & > .acf-field-true-false {
        & > .acf-label {
          display: none;
        }
      }
    }
  }
}
