@use "../global"as global;
@use "sass:math";

body {
  &.page-dev {

    /* Box レイアウト */
    .box {
      margin: 24px 0;
      padding: 20px 24px;
      border: 1px solid #ddd;
      background: #fafafa;
      border-radius: 6px;
    }

    .box h3,
    .box h4 {
      margin-top: 0;
      font-weight: 600;
    }


    /* h3 */
    .box h3 {
      font-size: 18px;
      // border-left: 3px solid #666;
      padding-left: 6px;
      margin-bottom: 12px;
    }

    /* h4 */
    .box h4 {
      font-size: 16px;
      margin-bottom: 6px;
    }

    /* リスト */
    .box ul {
      margin: 0;
      padding-left: 20px;
      @extend .p-text;
    }

    /* コードブロック */
    .box pre {
      margin: 0;
      padding: 16px;
      background-color: #333333;
      color: #f8f8f2;
      font-size: 13px;
      overflow-x: auto;
      line-height: 1.6;
      border-radius: 4px;
    }

    .box code {
      font-family: Consolas, Monaco, monospace;
    }

    /* ボックス内の段落 */
    .box p {
      @extend .p-text;
      margin: 0.5em 0 1em;
    }

  }
}

.page-dev {
  &__nav {
    padding: var(--headerHeight) 0;
    background-color: var(--Base2);
    border-bottom: 1px solid var(--Border);

    &__wrap {
      width: var(--contentWidth);
      margin-left: auto;
      margin-right: auto;
    }

    &__ul {
      @include global.flex(flex-start, center);
      gap: 2rem;
    }

    &__li {

      a {
        display: block;
        @include global.font(calc(var(--pow0) - 0px), var(--fwn), var(--ls), 1, var(--ff));
        text-decoration: underline;

        @include global.media(pc) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__section {
    .section {
      &__wrap {}

      &__inner {}

      &__head {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--Border);
        p{
          @extend .p-text;
          margin-top: 1em;
        }
      }

      &__body {}

      &__foot {}

      &__title {
        .title {
          &__wrap {}

          &__main {
            @include global.font(calc(var(--pow3) - 0px), var(--fwb), var(--ls), 1, var(--ff));
            display: block;
            color: var(--Title);

          }

          &__sub {
            @include global.font(calc(var(--pow0) - 0px), var(--fwn), var(--ls), 1, var(--ff));
            display: block;
            color: var(--SubText);
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

// // .pag-template {
// //   .l-header,
// //   .l-footer,
// //   .l-header__hbg__icon,
// //   .l-header__hbg__modal {
// //     display: none;
// //   }
// // }

// .p-template {
//   // padding-top: 100px;
//   // padding-bottom: 100px;
//   // &__sa {
//   //   padding-top: 50vh;

//   //   &:before {
//   //     content: '';
//   //     position: fixed;
//   //     height: 90%;
//   //     width: 100%;
//   //     top: 5%;
//   //     left: 0;
//   //     border-top: 1px dashed red;
//   //     border-bottom: 1px dashed red;
//   //     pointer-events: none;
//   //     user-select: none;
//   //     z-index: 9999;
//   //   }

//   //   &:after {
//   //     content: '';
//   //     position: fixed;
//   //     width: 100%;
//   //     top: 50%;
//   //     left: 0;
//   //     border-top: 1px dashed red;
//   //     pointer-events: none;
//   //     user-select: none;
//   //     z-index: 9999;
//   //   }

//   //   &__section {
//   //     height: 50vh;
//   //     width: 100%;
//   //     @include global.flex(center, center);
//   //   }

//   //   &__title {
//   //     font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
//   //     font-size: 2vw;
//   //     letter-spacing: 0.02em;
//   //     line-height: 1.7;
//   //   }

//   //   &__box {
//   //     width: 200px;
//   //     height: 200px;
//   //     background-color: #000000;
//   //     margin-left: auto;
//   //     margin-right: auto;
//   //     color: #ffffff;
//   //     text-align: center;
//   //     line-height: 200px;
//   //   }

//   //   &__image {
//   //     width: 200px;
//   //     overflow: hidden;
//   //     // height: 300px;
//   //     // // background-color: #000000;
//   //     // margin-left: auto;
//   //     // margin-right: auto;
//   //     // overflow: hidden;
//   //     // >span{
//   //     //   width: 100%;
//   //     //   height: 100%;
//   //     // }
//   //   }

//   //   &__list {
//   //     @include global.flex(center, center);
//   //     color: #000000;

//   //     li {
//   //       flex: 1;
//   //       padding: 10px;
//   //     }
//   //   }
//   // }
//   section {
//     border-bottom: 1px solid var(--Border);
//   }

//   .section__wrap {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }

//   &__wrap {
//     @include global.flex(flex-start, flex-start);
//     flex-wrap:nowrap;
//     width: 100%;
//     max-width: 100%;

//     @include global.media(tb) {
//       display: block;
//     }
//     &.is-block{
//       display: block;
//       .p-template{
//         &__head{
//           max-width: 100%;
//           width: 100%;
//           margin-bottom: 2rem;
//         }
//       }
//     }
//   }

//   &__head {
//     min-width: 8rem;
//     width: 20%;

//     @include global.media(tb) {
//       display: block;
//       width: 100%;
//       margin-bottom: 2rem;
//     }

//     span {
//       font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
//       font-size: 11px;
//       letter-spacing: 0.1em;
//       line-height: 1;
//       padding: 0.2em 0.6em;
//       display: inline-block;
//       color: var(--SubText);
//       border: 1px solid var(--Border);

//       @include global.media(sp) {
//         font-size: 10px;
//       }
//     }
//   }

//   &__body {
//     flex:1;
//     // width: 80%;

//     @include global.media(tb) {
//       display: block;
//       width: 100%;
//     }
//   }

//   &__title {}

//   &__text {
//     font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
//     font-size: 10px;
//     letter-spacing: 0.02em;
//     line-height: 1.7;
//     display: block;
//     color: var(--SubText);
//   }

//   &__content {
//     width: 100%;

//     &+.p-template__content {
//       margin-top: 4rem;
//       border-top: 1px solid var(--Border);
//       padding-top: 4rem;
//     }
//   }

//   &__list {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: 3rem;

//     @include global.media(tb) {
//       grid-template-columns: repeat(3, 1fr);
//       gap: 2rem;
//     }

//     @include global.media(sp) {
//       grid-template-columns: repeat(2, 1fr);
//       gap: 2rem 1rem;
//     }


//     &.is-color {
//       grid-template-columns: repeat(5, 1fr);

//       @include global.media(tb) {
//         grid-template-columns: repeat(4, 1fr);
//       }

//       @include global.media(sp) {
//         grid-template-columns: repeat(4, 1fr);
//       }

//       dl {
//         display: table;
//         width: 100%;

//         @include global.media(sp) {
//           display: block;
//         }

//         dt,
//         dd {
//           display: table-cell;
//           vertical-align: middle;

//           @include global.media(sp) {
//             display: block;
//           }
//         }

//         dt {
//           width: 50px;

//           @include global.media(sp) {
//             width: 100%;
//             // margin-left: auto;
//             // margin-right: auto;
//           }
//         }

//         dd {
//           padding-left: 20px;
//           margin-top: 0;

//           @include global.media(sp) {
//             padding-left: 0;
//           }
//         }
//       }
//     }


//     &.is-font {
//       grid-template-columns: repeat(3, 1fr);

//       @include global.media(tb) {
//         grid-template-columns: repeat(2, 1fr);
//       }

//       @include global.media(sp) {
//         grid-template-columns: repeat(1, 1fr);
//       }

//       p {
//         letter-spacing: var(--ls);
//         line-height: var(--lh);
//         font-weight: var(--fw);
//         display: block;

//         &.title {
//           font-size: 3rem;
//           line-height: 1;
//         }

//         &.text {
//           font-size: 1rem;
//           margin-top: 1em;
//         }
//       }

//     }

//     &.is-single {
//       // grid-template-columns: repeat(1, 1fr);
//       display: block;
//       >li{
//         &+li{
//           margin-top: 3rem;

//         }
//       }
//     }

//     &.is-block {
//       display: block;

//       >li {
//         display: block;

//         &+li {
//           margin-top: 3rem;

//           @include global.media(sp) {
//             margin-top: 2rem;
//           }
//         }
//       }
//     }

//     &.is-icon {
//       grid-template-columns: repeat(10, 1fr);

//       @include global.media(tb) {
//         grid-template-columns: repeat(6, 1fr);
//       }

//       @include global.media(sp) {
//         grid-template-columns: repeat(4, 1fr);
//       }

//       dt {
//         position: relative;
//         width: 2rem;
//         margin-left: auto;
//         margin-right: auto;

//         svg {
//           position: absolute;
//           width: 100%;
//           height: 100%;
//           top: 0;
//           left: 0;
//         }

//         &:before {
//           content: '';
//           width: 100%;
//           padding-top: 100%;
//           display: block;
//         }
//       }

//       dd {
//         text-align: center;
//       }
//     }

//     >li {

//       >dl {

//         // max-width: max-content;
//         >dt,
//         dd {}

//         >dt {}

//         >dd {
//           font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
//           font-size: 10px;
//           letter-spacing: 0.02em;
//           line-height: 1.7;
//           display: block;
//           color: var(--SubText);
//           margin-top: 10px;
//         }
//       }
//     }
//   }

//   .swatch {
//     display: block;
//     border-radius: 100%;

//     &:before {
//       content: "";
//       padding-top: 100%;
//       width: 100%;
//       display: block;
//     }
//   }

//   &__content__logo {
//     width: 300px;

//     @include global.media(sp) {
//       width: 200px;
//     }
//   }

//   &__content__color {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(5, 2vw);

//       @include global.media(tb) {
//         @include global.list(5, 6px);
//       }

//       @include global.media(sp) {
//         @include global.list(5, 2px);
//       }

//       &+ul {
//         margin-top: 3rem;

//         @include global.media(sp) {
//           margin-top: 2rem;
//         }
//       }

//       li {}
//     }

//     .swatch {
//       display: block;

//       &:before {
//         content: "";
//         padding-top: 100%;
//         width: 100%;
//         display: block;
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;

//       >span {
//         @include global.media(sp) {
//           display: none;
//         }
//       }
//     }
//   }

//   &__content__font {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(2, 3rem);

//       @include global.media(tb) {
//         @include global.list(2, 2rem);
//       }

//       li {
//         margin-bottom: 3rem;
//       }
//     }

//     .typo {
//       display: block;
//       font-size: 3vw;
//       line-height: 1;
//       letter-spacing: var(--ls);
//       font-weight: var(--fwn);

//       @include global.media(tb) {
//         font-size: 5vw;
//       }

//       @include global.media(sp) {
//         font-size: 7vw;
//       }

//       &__text {
//         font-size: 1rem;
//         margin-top: 1rem;
//         display: block;
//         line-height: var(--lh);
//         font-weight: var(--fwn);
//         letter-spacing: var(--ls);
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__title {
//     ul {
//       li {
//         &+li {
//           margin-top: 3rem;
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 1rem;
//     }
//   }

//   &__content__text {
//     ul {
//       li {
//         &+li {
//           margin-top: 2rem;
//         }
//       }
//     }

//     @for $i from 0 through 10 {
//       .pow#{$i} {
//         @include global.font(var(--pow#{$i}), var(--fwn), var(--ls), 2, var(--ff));
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__button {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(3, 2rem);

//       @include global.media(tb) {
//         @include global.list(2, 2rem);
//       }

//       @include global.media(sp) {
//         width: 100%;
//         margin-left: 0;
//         display: block;
//       }

//       li {
//         margin-bottom: 2rem;

//         @include global.media(sp) {
//           margin-bottom: 1rem;
//           padding-left: 0;
//           padding-right: 0;
//           width: 100%;
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__link {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(3, 2rem);

//       @include global.media(tb) {
//         @include global.list(2, 2rem);
//       }

//       @include global.media(sp) {
//         width: 100%;
//         margin-left: 0;
//         display: block;
//       }

//       li {
//         margin-bottom: 2rem;

//         @include global.media(sp) {
//           margin-bottom: 1rem;
//           padding-left: 0;
//           padding-right: 0;
//           width: 100%;
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__image {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(3, 1rem);

//       @include global.media(tb) {}

//       @include global.media(sp) {
//         @include global.list(2, 1rem);
//       }

//       li {
//         margin-bottom: 2rem;
//       }
//     }

//     svg {
//       width: 2rem;
//       height: 2rem;
//       display: block;
//       margin-left: auto;
//       margin-right: auto;
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//       text-align: center;

//       >span {
//         @include global.media(sp) {
//           display: none;
//         }
//       }
//     }
//   }

//   &__content__form {
//     >ul {
//       >li {
//         margin-bottom: 2rem;

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }
//   }

//   &__content__pager {
//     >ul {
//       >li {
//         margin-bottom: 4rem;

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }
//   }

//   &__content__map {
//     >ul {
//       >li {
//         margin-bottom: 2rem;

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }
//   }

//   &__content__icon {
//     ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(8, 1rem);

//       @include global.media(tb) {
//         @include global.list(7, 1rem);
//       }

//       @include global.media(sp) {
//         @include global.list(6, 1rem);
//       }

//       li {
//         margin-bottom: 2rem;
//       }
//     }

//     svg {
//       width: 2rem;
//       height: 2rem;
//       display: block;
//       margin-left: auto;
//       margin-right: auto;
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//       text-align: center;

//       >span {
//         @include global.media(sp) {
//           display: none;
//         }
//       }
//     }
//   }

//   &__content__attention {}

//   &__content__sa {
//     >ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(3, 1rem);

//       @include global.media(tb) {
//         @include global.list(3, 1rem);
//       }

//       @include global.media(sp) {
//         @include global.list(3, 10px);
//       }

//       >li {
//         margin-bottom: 2rem;

//         &.full {
//           width: 100%;

//           // padding-left: 0;
//           // padding-right: 0;
//           ul {
//             font-size: 0;

//             li {
//               display: inline-block;
//               width: 100px;
//               margin-right: 10px;

//               @include global.media(sp) {
//                 width: 60px;
//               }
//             }
//           }
//         }
//       }
//     }

//     .box {
//       width: 100%;
//       height: 100px;
//       display: block;
//       background-color: var(--SubText);
//       border-radius: 3px;
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: cover;

//       @include global.media(sp) {
//         height: 60px;
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__video {
//     >ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(2, 2rem);

//       @include global.media(tb) {
//         @include global.list(2, 1rem);
//       }

//       @include global.media(sp) {
//         width: 100%;
//         margin-left: 0;
//       }

//       >li {
//         margin-bottom: 2rem;

//         @include global.media(sp) {
//           width: 100%;
//           padding-left: 0;
//           padding-right: 0;
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__youtube {
//     >ul {
//       @include global.flex(flex-start, flex-start);
//       @include global.list(2, 2rem);

//       @include global.media(tb) {
//         @include global.list(2, 1rem);
//       }

//       @include global.media(sp) {
//         width: 100%;
//         margin-left: 0;
//       }

//       >li {
//         margin-bottom: 2rem;

//         @include global.media(sp) {
//           width: 100%;
//           padding-left: 0;
//           padding-right: 0;
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   &__content__gallery {
//     >ul {
//       >li {
//         margin-bottom: 2rem;

//         &:last-child {
//           margin-bottom: 0;
//         }

//         ul {
//           @include global.flex(flex-start, flex-start);
//           @include global.list(3, 2rem);

//           @include global.media(tb) {
//             @include global.list(2, 1rem);
//           }
//         }
//       }
//     }

//     .text {
//       @extend .p-template__text;
//       margin-top: 6px;
//     }
//   }

//   // pre {
//   //   display: block;
//   //   color: var(--SubText);
//   //   background-color: var(--Base2);
//   //   border: 1px solid var(--Border);
//   //   @include global.font(10px, var(--fwn), 0em, 1.9, var(--ff));
//   //   padding: 1em;
//   //   display: block;
//   //   margin-top: 2rem;
//   //   border-radius: 6px;
//   //   overflow: auto;

//   //   @include global.media(tb) {
//   //     display: none;
//   //   }

//   //   * {
//   //     display: block;
//   //     // font-family: inherit;
//   //   }
//   // }
//   pre {
//     margin-top: 0;
//     color: #ffffff;
//     background-color: #333333;
//     @include global.font(var(--fzs), var(--fwn), 0em, 2, var(--ff));
//     border: none;
//     padding: 1rem;
//     border-radius: 6px;
//     overflow: hidden;
//     @include global.media(tb) {
//       display: block;
//     }
//   }

//   &__content__sethtml {
//     p {
//       @extend .p-text;
//       // @extend .cap;
//       margin-top: 10px;
//     }

//     ul {
//       li {
//         margin-bottom: 2rem;
//         border-radius: 6px;
//         overflow: hidden;

//         &:last-child {
//           margin-bottom: 0;
//         }

//         dl {
//           position: relative;

//           dt {
//             position: absolute;
//             top: 0;
//             right: 0;
//             font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
//             font-size: 11px;
//             letter-spacing: 0.1em;
//             line-height: 1;
//             padding: 0.2em 0.6em;
//             display: inline-block;
//             color: var(--White);
//             background-color: var(--Title);

//             @include global.media(sp) {
//               font-size: 10px;
//             }
//           }

//           dd {}
//         }
//       }
//     }

//     pre {
//       margin-top: 0;
//       color: var(--White);
//       background-color: var(--SubText);
//       font-size: 11px;
//       letter-spacing: 0.02em;
//       border: none;

//       @include global.media(tb) {
//         display: block;
//       }

//       @include global.media(sp) {
//         font-size: 10px;
//       }

//       math {
//         display: block !important;
//         font-family: var(--go);
//       }
//     }
//   }

//   &__js {

//     // padding-top: 100px;
//     &__mokuji {

//       border-bottom: 1px solid var(--Border);
//       background-color: var(--Base2);
//       padding-top: 100px;
//       padding-bottom: 6rem;
//       margin-bottom: 6rem;

//       ul {
//         width: 90%;
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 1000px;

//         li {
//           display: inline-block;
//           margin-left: 3rem;

//           a {
//             display: inline-block;
//             padding-right: 1.5rem;
//             position: relative;
//             padding: 1em;

//             @include global.media(pc) {
//               &:hover {
//                 opacity: 0.5;
//               }
//             }

//             &:before,
//             &:after {
//               content: '';
//               width: 0.3em;
//               height: 1px;
//               position: absolute;
//               background-color: var(--SubText);
//               top: 50%;
//               right: 0;
//               transform-origin: right center;
//               transform: rotate(40deg);
//             }

//             &:after {
//               transform: rotate(-40deg);
//             }
//           }
//         }
//       }
//     }

//     section {
//       padding-top: 6rem;
//       padding-bottom: 6rem;

//       &+section {
//         border-top: 1px dotted var(--Border);
//       }
//     }

//     // * {
//     //   @include global.font(var(--pow0), var(--fwn), 0.06em, 1.8, var(--ff));
//     // }



//     &__wrap {
//       @include global.flex(flex-start, flex-start);
//       width: 90%;
//       margin-left: auto;
//       margin-right: auto;
//       max-width: 1000px;
//     }

//     &__head {
//       width: 200px;

//       @include global.media(tb) {
//         width: 100%;
//         margin-bottom: 2rem;
//       }
//     }

//     &__body {
//       width: calc(100% - 200px);

//       @include global.media(tb) {
//         width: 100%;
//       }
//     }

//     &__foot {
//       width: 100%;
//       padding-top: 2rem;

//       @include global.media(tb) {
//         display: none;
//       }
//     }

//     .area {
//       position: relative;
//       background-color: var(--Base2);
//       border: 2px dashed var(--Border);
//       border-radius: 6px;

//       >span {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         color: var(--Title);
//         transform: translate(-50%, -50%);
//       }
//     }

//     .box {
//       position: relative;
//       background-color: var(--Title);
//       border-radius: 6px;

//       >span {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         color: var(--White);
//         transform: translate(-50%, -50%);
//       }
//     }

//     pre {
//       margin-top: 3rem;
//       color: var(--White);
//       background-color: var(--SubText);
//       border-radius: 6px;

//       math {
//         display: block !important;
//         font-family: sans-serif;
//         border: none;
//         padding: 0 2em 2em 2em;
//         font-size: 12px;
//         line-height: 2.2;
//       }
//     }
//   }
// }

// #CopySign {
//   color: #ffffff;
//   position: fixed;
//   margin-top: -5px;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   width: 100px;
//   margin-left: -50px;
//   pointer-events: none;
//   mix-blend-mode: normal;
//   @include global.font(10px, bold, 0.08em, 10px, var(--ff));
//   display: block;
//   z-index: 9999999999999; // transition: all 0.15s ease-out;
//   transform-origin: center center;
//   transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
//   text-align: center;
//   opacity: 0;

//   &.is-copy {
//     &:before {
//       display: none;
//     }

//     &:after {
//       display: inline-block;
//     }
//   }

//   &:before,
//   &:after {
//     padding: 3px;
//   }

//   &:before {
//     content: "クリックでコピー";
//     background-color: rgba(0, 0, 0, 0.9);
//     display: inline-block;
//   }

//   &:after {
//     content: "コピー完了";
//     background-color: rgba(200, 0, 0, 0.9);
//     display: none;
//   }
// }